@import "includes/framework.less";

body {
	background: #f5f5f5;
}

html {
	overflow-y: auto;
	overflow-x: hidden;
}

/* label color */
.input-field label {
	color: e(@blue-grey-900);
}

.input-field {
	input[type="password"] {
		font-size: 18px;
		letter-spacing: 4px;
	}
}

.picker {
	.picker__box {
		border: 1px solid e(@blue-900);
	}

	.picker__day--infocus {
		line-height: 1;
	}
}

.btn-social {
	.fa {
		padding-right: 10px;
		vertical-align: top;
	}
}

.picker__clear {
	display: none;
}

.white-text {
	.select-wrapper span.caret {
		color: white;
	}
}

.page {
	margin: 0 0 2rem;
	min-height: 100vh;
}

.page-subheader {
	margin: 0 0 1rem;
	nav {
		background: white;
	}
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
		height: 45px;
		line-height: 45px;
	}
	.container {
		padding-left: 145px;
	}
	.breadcrumb {
		color: e(@grey-900);
		font-size: 16px;
		&:before {
			color: e(@grey-500);
			font-size: 24px;
		}
		&:last-child {
			color: e(@grey-900);
		}
	}
	+ .page-alerts {
		margin: -1rem 0 0;
	}
}

.page-alerts {
	&:empty {
		display: none;
	}
	.alert, .container {
		position: relative;
	}
	.close {
		position: absolute;
		top: 0;
		right: 0;
		left: auto;
		bottom: auto;
		line-height: 40px;
		width: 40px;
		height: 40px;
		margin: 6px 0 6px 10px;
		i {
			line-height: 40px;
		}
	}
}

@media only screen and (max-width: e(@medium-screen)) {
	.page-subheader {
		.container {
			padding-left: 0;
		}
	}
}

.page-heading {
	font-weight: 300;
	text-align: center;
	margin: 3rem 0 2rem 0;
}

.body-wrap {
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	background-color: e(@blue-grey-50);
}

#header-main {
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
		height: 80px;
		line-height: 80px;
	}
	.brand-logo {
		font-size: 0;
		vertical-align: top;
		img {
			vertical-align: top;
			&.logo-header {
				margin: -22px 0 0;
				padding: 8px;
				background: e(@grey-900);
				position: relative;
				z-index: 1;
				.border-radius(60px);
			}
			&.logo-header-text {
				margin: 20px 15px;
			}
		}
	}
}

@media only screen and (max-width: e(@medium-screen)) {
	#header-main {
		.brand-logo {
			img {
				&.logo-header {
					margin: 5px;
					max-width: 70px;
					width: auto !important;
					height: auto !important;
				}
			}
		}
	}
}

#PageHome {
	.intro {
		background: e(@grey-900) url('@{img}home_intro.gif') no-repeat center center;
		background-size: cover;
		height: 700px;
		.intro-heading {
			margin: 0 0 2rem;
			text-transform: uppercase;
			text-align: center;
			color: white;
			font-weight: 300;
			text-shadow: 0 2px 10px e(@grey-900);
			position: relative;
		}
		.input-field {
			background-color: white;
			position: relative;
			.border-radius(3px);
			.btn-floating {
				position: absolute;
				top: 50%;
				right: 15px;
				margin-top: -18px;
			}
			input {
				.box-sizing();
				font-size: 18px;
				margin: 0;
				padding-right: 34px;
				line-height: 34px;
				border: none !important;
				height: 4rem;
				padding: 10px 50px 10px 22px;
				.box-shadow(~"none !important");
				&::-webkit-input-placeholder {
					color: e(@blue-grey-500);
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: e(@blue-grey-500);
				}
				&::-moz-placeholder {  /* Firefox 19+ */
					color: e(@blue-grey-500);
				}
				&:-ms-input-placeholder {
					color: e(@blue-grey-500);
				}
			}
		}
	}
	.datepicker-toolbar {
		background-color: white;
		h3 {
			padding: 5px 10px;
			color: e(@grey-900);
			margin: 0;
			font-weight: 300;
		}
		nav {
			background-color: white;
			color: e(@blue-grey-900);
		}
	}
	.register {
		.inline-block();
		background-color: e(@grey-900);
		color: white;
		padding: 8% 0;
		a {
			color: white;
			&:hover {
				color: e(@amber-300);
			}
		}
		.text {
			h4 {
				font-weight: 300;
				color: e(@amber-300);
				text-transform: uppercase;
			}
			p {
				margin: 0;
				font-weight: 300;
			}
		}
	}
	.locations {
		background-color: e(@grey-100);
		.card {
			background-size: cover;
			background-position: center center;
			.card-image {
				max-height: 100%;
				height: 100%;
				text-align: center;
				.card-title {
					text-transform: uppercase;
					text-align: center;
					width: 100%;
					font-size: 2rem;
					font-weight: 500;
					text-shadow: 0 2px 2px #000;
				}
			}
		}
	}
	.hotels {
		background: white;
		padding: 25px 0;
	}
}

.sidenav-left,
.sidenav-right {
	margin: 1rem 0 1.5rem;
}

.sidebar-nav {
	.collection {
		border: none;
		margin: -20px;
	}
}

.item-listing {
	.inline-block();
	margin: 15px 0;
	.item-sale {
		overflow: hidden;
		background-size: cover;
		background-position: top center;
		background-color: white;
		.border-radius(3px);
		.link-wrap {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			cursor: pointer;
			z-index: 1;
			.transition(all 0.3s ease-in-out);
			&:hover {
				background-color: rgba(255, 255, 255, 0.3);
			}
		}
	}
}

#SalesIndex {
	.card {
		&.horizontal {
			.card-image img {
				.border-radius(2px 0 0 0);
			}
		}
		.card-image .card-title {
			width: 100%;
			.simple-gradient(#000, transparent);
		}
		.card-content .card-title {
			line-height: 32px;
			margin: 0 0 10px;
		}
		.card-action {
			background: #242424;
	    color: #fff;
	    border-top-color: coral;
	    border-top-width: medium;
		}
	}
	.pagination .active {
		background-color: e(@amber-800);
	}
}

#SalesView {
	margin-top: 3rem;
	.sale-info {
		.title {
			margin-bottom: 1rem;
			font-weight: 300;
		}
		.location {
			font-weight: 300;
			margin-top: 0;
			margin-bottom: 1rem;
			color: e(@blue-grey-700);
		}

		.flexslider {
			overflow: hidden;
			margin: 0;
			padding: 0;
			border: none;
			.box-shadow(~"0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)");
			.border-radius(3px);
			&:hover {
				.flex-direction-nav {
					a {
						&.flex-prev {
							left: 25px;
						}
						&.flex-next {
							right: 25px;
						}
					}
				}
			}
			img {
				.border-radius(3px);
			}
			.flex-direction-nav {
				a {
					font-size: 0;
					padding: 0;
					width: 44px;
					height: 44px;
					.border-radius(50px);
					.box-shadow(~"0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12)");
					&:before {
						display: none;
					}
					&.flex-prev {
						background: url('/bower_components/material-design-icons/hardware/svg/design/ic_keyboard_arrow_left_24px.svg') #fff 45% 50% no-repeat;
						background-size: auto 34px;
					}
					&.flex-next {
						background: url('/bower_components/material-design-icons/hardware/svg/design/ic_keyboard_arrow_right_24px.svg') #fff 45% 50% no-repeat;
						background-size: auto 34px;
					}
				}
			}
			.flex-caption {
				position: absolute;
				top: auto;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				padding: 10px 20px;
				background: rgba(0,0,0,.5);
				color: #fff;
				text-shadow: 0 -1px 0 rgba(0,0,0,.3);
				font-size: 18px;
				.box-sizing();
			}
		}

		.sale-booking {
			.book-date {
				label {
					.inline-block();
					margin: 0 0 5px;
				}
			}
			.book-period,
			.book-price {
				b {
					float: right;
				}
			}
		}

		#location_map {
			overflow: hidden;
			.box-shadow(~"0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)");
			.border-radius(3px);
		}
	}
}

@media only screen and (min-width : 1140px) {
	#SalesView {
		.booking-affix {
			max-width: 320px;
			&.affix {
				position: fixed;
				top: 20px;
			}
			&.bottom {
				position: absolute;
				top: auto;
				bottom: 8px;
				left: 8px;
			}
		}
	}
}

#footer-main {
	.payment {
		float: right;
		margin: 10px 0 0;
	}
	.ssl {
		float: right;
		font-size: 0;
		margin: 0 0 0 15px;
		#tl_popupCL1 {
			iframe {
				width: 100% !important;
				height: 100% !important;
				overflow: hidden !important;
			}
		}
	}
	.footer-copyright {
		background-color: transparent;
		height: auto;
		.payment {
			max-width: 100%;
		}
	}
}
