<?php
$this->assign('title', __('Maldopay Error'));
$this->HtmlBetter->addCrumb(__('Home'), '/');
?>
<style>
.time-left:hover {
	cursor: default;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;

}
#back-sales-view {
  margin-bottom: 20px;

}
</style>
<section id="MladopayError">
  <div class="container">
    <div class="">Successfull transaction</div>
  </div>
</section>
