<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="signatureTable">
	<tr>
		<td align="left" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="450" id="signatureContainer" bgcolor="212121" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;">
				<tr>
					<td valign="top" width="1" style="padding: 20px;">
						<a href="https://luxury-discounts.com" target="_blank"><img src="https://luxury-discounts.com/ext/email_logo_signature.png" title="Luxury Discounts" alt="Luxury Discounts" /></a>
					</td>
					<td width="1px" bgcolor="373737"></td>
					<td valign="top" style="padding: 20px;">
						<span style="color: #FFFFFF; display: block; line-height: 22px; font-size: 16px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Svilen Petkov</span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Co-Founder & CEO</span>
						<br />
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">tel:	<span style="color: white;">(359) 899-640-892</span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">mail:	<span style="color: white;"><a href="mailto:svilen@luxury-discounts" target="_top" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">svilen@luxury-discounts.com</a></span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">web:	<span style="color: white;"><a href="https://luxury-discounts.com" target="_blank" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">luxury-discounts.com</a></span></span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<hr />

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="signatureTable">
	<tr>
		<td align="left" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="450" id="signatureContainer" bgcolor="212121" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;">
				<tr>
					<td valign="top" width="1" style="padding: 20px;">
						<a href="https://luxury-discounts.com" target="_blank"><img src="https://luxury-discounts.com/ext/email_logo_signature.png" title="Luxury Discounts" alt="Luxury Discounts" /></a>
					</td>
					<td width="1px" bgcolor="373737"></td>
					<td valign="top" style="padding: 20px;">
						<span style="color: #FFFFFF; display: block; line-height: 22px; font-size: 16px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Nikola Hristov</span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Co-Founder & Technical Manager</span>
						<br />
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">tel:	<span style="color: white;">(359) 885-758-999</span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">mail:	<span style="color: white;"><a href="mailto:nikola@luxury-discounts" target="_top" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">nikola@luxury-discounts.com</a></span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">web:	<span style="color: white;"><a href="https://luxury-discounts.com" target="_blank" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">luxury-discounts.com</a></span></span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<hr />

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="signatureTable">
	<tr>
		<td align="left" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="450" id="signatureContainer" bgcolor="212121" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;">
				<tr>
					<td valign="top" width="1" style="padding: 20px;">
						<a href="https://luxury-discounts.com" target="_blank"><img src="https://luxury-discounts.com/ext/email_logo_signature.png" title="Luxury Discounts" alt="Luxury Discounts" /></a>
					</td>
					<td width="1px" bgcolor="373737"></td>
					<td valign="top" style="padding: 20px;">
						<span style="color: #FFFFFF; display: block; line-height: 22px; font-size: 16px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Evgeni Apostolov</span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Business Development Manager</span>
						<br />
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">tel:	<span style="color: white;">(359) 887-885-496</span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">mail:	<span style="color: white;"><a href="mailto:evgeni@luxury-discounts" target="_top" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">evgeni@luxury-discounts.com</a></span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">web:	<span style="color: white;"><a href="https://luxury-discounts.com" target="_blank" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">luxury-discounts.com</a></span></span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<hr />

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="signatureTable">
	<tr>
		<td align="left" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="450" id="signatureContainer" bgcolor="212121" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;">
				<tr>
					<td valign="top" width="1" style="padding: 20px;">
						<a href="https://luxury-discounts.com" target="_blank"><img src="https://luxury-discounts.com/ext/email_logo_signature.png" title="Luxury Discounts" alt="Luxury Discounts" /></a>
					</td>
					<td width="1px" bgcolor="373737"></td>
					<td valign="top" style="padding: 20px;">
						<span style="color: #FFFFFF; display: block; line-height: 22px; font-size: 16px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Yoldas Cizmeci</span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Operations Manager</span>
						<br />
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">tel:	<span style="color: white;">(359) 889-351-925</span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">mail:	<span style="color: white;"><a href="mailto:yoldas@luxury-discounts" target="_top" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">yoldas@luxury-discounts.com</a></span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">web:	<span style="color: white;"><a href="https://luxury-discounts.com" target="_blank" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">luxury-discounts.com</a></span></span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<hr />

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="signatureTable">
	<tr>
		<td align="left" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="450" id="signatureContainer" bgcolor="212121" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;">
				<tr>
					<td valign="top" width="1" style="padding: 20px;">
						<a href="https://luxury-discounts.com" target="_blank"><img src="https://luxury-discounts.com/ext/email_logo_signature.png" title="Luxury Discounts" alt="Luxury Discounts" /></a>
					</td>
					<td width="1px" bgcolor="373737"></td>
					<td valign="top" style="padding: 20px;">
						<span style="color: #FFFFFF; display: block; line-height: 22px; font-size: 16px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Can Yılmazyıldız</span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Co Founder & Sales Manager</span>
						<br />
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">tel:	<span style="color: white;">(359) 890-192-501</span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">mail:	<span style="color: white;"><a href="mailto:can@luxury-discounts" target="_top" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">can@luxury-discounts.com</a></span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">web:	<span style="color: white;"><a href="https://luxury-discounts.com" target="_blank" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">luxury-discounts.com</a></span></span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<hr />

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="signatureTable">
	<tr>
		<td align="left" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="450" id="signatureContainer" bgcolor="212121" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;">
				<tr>
					<td valign="top" width="1" style="padding: 20px;">
						<a href="https://luxury-discounts.com" target="_blank"><img src="https://luxury-discounts.com/ext/email_logo_signature.png" title="Luxury Discounts" alt="Luxury Discounts" /></a>
					</td>
					<td width="1px" bgcolor="373737"></td>
					<td valign="top" style="padding: 20px;">
						<span style="color: #FFFFFF; display: block; line-height: 22px; font-size: 16px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Mustafa Bankeli</span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">Co Founder & Merchandising Manager</span>
						<br />
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">tel:	<span style="color: white;">(359) 898-474-100</span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">mail:	<span style="color: white;"><a href="mailto:mustafa@luxury-discounts" target="_top" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">mustafa@luxury-discounts.com</a></span></span>
						<span style="color: #ffcc80; display: block; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">web:	<span style="color: white;"><a href="https://luxury-discounts.com" target="_blank" style="color: white; line-height: 20px; font-size: 14px; font-weight: normal; text-align: left; text-decoration: none; text-transform: none; font-family:Arial, Helvetica, sans-serif;">luxury-discounts.com</a></span></span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
