<div class="actions columns large-2 medium-3">
	<h3><?= __d('Users', 'Actions'); ?></h3>
	<ul class="side-nav">
		<li><?= $this->Html->link(__d('Users', 'New {0}', $tableAlias), ['action' => 'add']); ?></li>
	</ul>
</div>
<div class="users index large-10 medium-9 columns">
	<table cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th><?= $this->Paginator->sort('username'); ?></th>
				<th><?= $this->Paginator->sort('email'); ?></th>
				<th><?= $this->Paginator->sort('first_name'); ?></th>
				<th><?= $this->Paginator->sort('last_name'); ?></th>
				<th class="actions"><?= __d('Users', 'Actions'); ?></th>
			</tr>
		</thead>
		<tbody>
			<?php foreach ($Users as $user) : ?>
				<tr>
					<td><?= h($user->username); ?></td>
					<td><?= h($user->email); ?></td>
					<td><?= h($user->first_name); ?></td>
					<td><?= h($user->last_name); ?></td>
					<td class="actions">
						<?= $this->Html->link(__d('Users', 'View'), ['action' => 'view', $user->id]); ?>
						<?= $this->Html->link(__d('Users', 'Change password'), ['action' => 'changePassword', $user->id]); ?>
						<?= $this->Html->link(__d('Users', 'Edit'), ['action' => 'edit', $user->id]); ?>
						<?= $this->Form->postLink(__d('Users', 'Delete'), ['action' => 'delete', $user->id], ['confirm' => __d('Users', 'Are you sure you want to delete # {0}?', $user->id)]); ?>
					</td>
				</tr>

			<?php endforeach; ?>
		</tbody>
	</table>
	<div class="paginator">
		<ul class="pagination">
			<?= $this->Paginator->prev('< ' . __d('Users', 'previous')); ?>
			<?= $this->Paginator->numbers(); ?>
			<?= $this->Paginator->next(__d('Users', 'next') . ' >'); ?>
		</ul>
		<p><?= $this->Paginator->counter(); ?></p>
	</div>
</div>
