input.form-control.greyed-out {
  background-color: #ccc;
  color: white;
}
i.icon-danger {
	color: #e9573f;
}
.big-table {
	font-size: 0.8em;
}
.fa-posfix {
	position: relative;
	top: 2px;
}
i.remove-category {
	cursor: pointer;
}
#sale-categories {
	height: 200px;
}
.table-hover>tbody>tr.failed-transaction>td, .table-hover>tbody>tr.failed-transaction>th {
    background-color: #fddddd;
}