/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('/ui/fonts/font-awesome/fontawesome-webfont.eot?v=4.6.3');
  src: url('/ui/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('/ui/fonts/font-awesome/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('/ui/fonts/font-awesome/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('/ui/fonts/font-awesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('/ui/fonts/font-awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}ul
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;ul
}ul
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper-pp:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
.fa-gitlab:before {
  content: "\f296";
}
.fa-wpbeginner:before {
  content: "\f297";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-envira:before {
  content: "\f299";
}
.fa-universal-access:before {
  content: "\f29a";
}
.fa-wheelchair-alt:before {
  content: "\f29b";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
.fa-blind:before {
  content: "\f29d";
}
.fa-audio-description:before {
  content: "\f29e";
}
.fa-volume-control-phone:before {
  content: "\f2a0";
}
.fa-braille:before {
  content: "\f2a1";
}
.fa-assistive-listening-systems:before {
  content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}
.fa-glide:before {
  content: "\f2a5";
}
.fa-glide-g:before {
  content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}
.fa-low-vision:before {
  content: "\f2a8";
}
.fa-viadeo:before {
  content: "\f2a9";
}
.fa-viadeo-square:before {
  content: "\f2aa";
}
.fa-snapchat:before {
  content: "\f2ab";
}
.fa-snapchat-ghost:before {
  content: "\f2ac";
}
.fa-snapchat-square:before {
  content: "\f2ad";
}
.fa-pied-piper:before {
  content: "\f2ae";
}
.fa-first-order:before {
  content: "\f2b0";
}
.fa-yoast:before {
  content: "\f2b1";
}
.fa-themeisle:before {
  content: "\f2b2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://luxury-discounts.com/ui/fonts/material-icons/MaterialIcons-Regular.eot');
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('https://luxury-discounts.com/ui/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'), url('https://luxury-discounts.com/ui/fonts/material-icons/MaterialIcons-Regular.woff') format('woff'), url('https://luxury-discounts.com/ui/fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
/* Sample Mixin Elements */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid "#90a4ae";
}
#header-main #mobile-nav hr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #90a4ae;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}
.text-primary {
  color: #b71c1c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}
.text-danger {
  color: #e53935;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #b71c1c;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0;
}
.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.mh-20 {
  max-height: 20px !important;
}
.mh-25 {
  max-height: 25px !important;
}
.mh-30 {
  max-height: 30px !important;
}
.mh-35 {
  max-height: 35px !important;
}
.mh-40 {
  max-height: 40px !important;
}
.mh-50 {
  max-height: 50px !important;
}
.mh-100 {
  max-height: 100px !important;
}
.mh-200 {
  max-height: 200px !important;
}
.mh-300 {
  max-height: 300px !important;
}
.mh-400 {
  max-height: 400px !important;
}
.mh-500 {
  max-height: 500px !important;
}
.mh-600 {
  max-height: 600px !important;
}
.mh-700 {
  max-height: 700px !important;
}
.mh-800 {
  max-height: 800px !important;
}
.mh-900 {
  max-height: 900px !important;
}
.mh-1000 {
  max-height: 1000px !important;
}
.h-20 {
  height: 20px !important;
}
.h-25 {
  height: 25px !important;
}
.h-30 {
  height: 30px !important;
}
.h-35 {
  height: 35px !important;
}
.h-40 {
  height: 40px !important;
}
.h-50 {
  height: 50px !important;
}
.h-80 {
  height: 80px !important;
}
.h-100 {
  height: 100px !important;
}
.h-120 {
  height: 120px !important;
}
.h-150 {
  height: 150px !important;
}
.h-170 {
  height: 170px !important;
}
.h-200 {
  height: 200px !important;
}
.h-300 {
  height: 300px !important;
}
.h-400 {
  height: 400px !important;
}
.h-500 {
  height: 500px !important;
}
.h-600 {
  height: 600px !important;
}
.h-700 {
  height: 700px !important;
}
.h-800 {
  height: 800px !important;
}
.h-900 {
  height: 900px !important;
}
.h-1000 {
  height: 1000px !important;
}
.t-center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-none {
  background-color: transparent !important;
}
.no-boxshadow {
  box-shadow: none !important;
}
.w-a {
  width: auto !important;
}
.h-a {
  height: auto !important;
}
.of-a {
  overflow: auto !important;
}
.of-h {
  overflow: hidden !important;
}
.of-v {
  overflow: visible !important;
}
.of-x-a {
  overflow-x: auto !important;
}
.of-x-h {
  overflow-x: hidden !important;
}
.of-x-v {
  overflow-x: visible !important;
}
body,
body.tray-rescale {
  overflow-x: hidden;
}
.of-y-a {
  overflow-y: auto !important;
}
.of-y-h {
  overflow-y: hidden !important;
}
.of-y-v {
  overflow-y: visible !important;
}
.center-column {
  float: none!important;
  margin-left: auto!important;
  margin-right: auto!important;
  display: block !important;
}
.va-t {
  vertical-align: top !important;
}
.va-m {
  vertical-align: middle !important;
}
.va-b {
  vertical-align: bottom !important;
}
.va-s {
  vertical-align: super !important;
}
.posr {
  position: relative !important;
}
.ib,
.inline-object {
  display: inline-block !important;
}
.inline-full {
  display: inline-block !important;
  width: 100% !important;
}
.cursor {
  cursor: pointer !important;
}
.option-disabled {
  opacity: .6 !important;
}
.input-unstyled,
.input-unstyled:focus,
.input-unstyled:hover {
  border: none!important;
  background: 0 0!important;
  box-shadow: none!important;
  outline: 0 !important;
}
.panel-group.table-layout > .panel + .panel {
  border-left: 0;
}
.br-h-n,
.br-l-n {
  border-left: none !important;
}
.panel-group.table-layout + .panel-group.table-layout > .panel {
  border-top: 0;
}
.br-t-n,
.br-v-n {
  border-top: none !important;
}
.row.table-layout {
  margin-left: 0;
  margin-right: 0;
}
.table-layout {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
}
.table-layout > aside,
.table-layout > div,
.table-layout > section {
  vertical-align: middle;
  display: table-cell;
  float: none;
}
@media (max-width: 1300px) {
  .table-layout.table-clear-md,
  .table-layout.table-clear-md > aside,
  .table-layout.table-clear-md > div,
  .table-layout.table-clear-md > section {
    display: block;
    float: none;
  }
}
@media (max-width: 992px) {
  .table-layout.table-clear-sm,
  .table-layout.table-clear-sm > aside,
  .table-layout.table-clear-sm > div,
  .table-layout.table-clear-sm > section {
    display: block;
    float: none;
  }
}
@media (max-width: 767px) {
  .table-layout.table-clear-xs,
  .table-layout.table-clear-xs > aside,
  .table-layout.table-clear-xs > div,
  .table-layout.table-clear-xs > section {
    display: block;
    float: none;
  }
}
.user-info.hidden,
.user-info.hidden + .user-divider,
body.hidden-breadcrumbs #topbar,
body.usermenu-hidden .user-info,
body.usermenu-hidden .user-info + .user-divider {
  display: none;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.fw200 {
  font-weight: 200 !important;
}
.fw300 {
  font-weight: 300 !important;
}
.fw400 {
  font-weight: 400 !important;
}
.fw600 {
  font-weight: 600 !important;
}
.fw700 {
  font-weight: 700 !important;
}
.fw800 {
  font-weight: 800 !important;
}
.fs3,
.fs4 {
  font-size: 4px !important;
}
.fs5 {
  font-size: 5px !important;
}
.fs6 {
  font-size: 6px !important;
}
.fs7 {
  font-size: 7px !important;
}
.fs8 {
  font-size: 8px !important;
}
.fs9 {
  font-size: 9px !important;
}
.fs10 {
  font-size: 10px !important;
}
.fs11 {
  font-size: 11px !important;
}
.fs12 {
  font-size: 12px !important;
}
.fs13 {
  font-size: 13px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs15 {
  font-size: 15px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs17 {
  font-size: 17px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs20 {
  font-size: 20px !important;
}
.fs22 {
  font-size: 22px !important;
}
.fs24 {
  font-size: 24px !important;
}
.fs26 {
  font-size: 26px !important;
}
.fs28 {
  font-size: 28px !important;
}
.fs30 {
  font-size: 30px !important;
}
.fs35 {
  font-size: 35px !important;
}
.fs40 {
  font-size: 40px !important;
}
.fs45 {
  font-size: 45px !important;
}
.fs50 {
  font-size: 50px !important;
}
.fs60 {
  font-size: 60px !important;
}
.fs70 {
  font-size: 70px !important;
}
.fs80 {
  font-size: 80px !important;
}
.fs90 {
  font-size: 90px !important;
}
.fs100 {
  font-size: 100px !important;
}
.pn {
  padding: 0 !important;
}
.p1 {
  padding: 1px !important;
}
.p2 {
  padding: 2px !important;
}
.p3 {
  padding: 3px !important;
}
.p4 {
  padding: 4px !important;
}
.p5 {
  padding: 5px !important;
}
.p6 {
  padding: 6px !important;
}
.p7 {
  padding: 7px !important;
}
.p8 {
  padding: 8px !important;
}
.p10 {
  padding: 10px !important;
}
.p12 {
  padding: 12px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.p35 {
  padding: 35px !important;
}
.p40 {
  padding: 40px !important;
}
.p50 {
  padding: 50px !important;
}
.ptn {
  padding-top: 0 !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.prn {
  padding-right: 0 !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.pbn {
  padding-bottom: 0 !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pln {
  padding-left: 0 !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pv5 {
  padding-top: 5px!important;
  padding-bottom: 5px !important;
}
.pv8 {
  padding-top: 8px!important;
  padding-bottom: 8px !important;
}
.pv10 {
  padding-top: 10px!important;
  padding-bottom: 10px !important;
}
.pv15 {
  padding-top: 15px!important;
  padding-bottom: 15px !important;
}
.pv20 {
  padding-top: 20px!important;
  padding-bottom: 20px !important;
}
.pv25 {
  padding-top: 25px!important;
  padding-bottom: 25px !important;
}
.pv30 {
  padding-top: 30px!important;
  padding-bottom: 30px !important;
}
.pv40 {
  padding-top: 40px!important;
  padding-bottom: 40px !important;
}
.pv50 {
  padding-top: 50px!important;
  padding-bottom: 50px !important;
}
.ph5 {
  padding-left: 5px!important;
  padding-right: 5px !important;
}
.ph8 {
  padding-left: 8px!important;
  padding-right: 8px !important;
}
.ph10 {
  padding-left: 10px!important;
  padding-right: 10px !important;
}
.ph15 {
  padding-left: 15px!important;
  padding-right: 15px !important;
}
.ph20 {
  padding-left: 20px!important;
  padding-right: 20px !important;
}
.ph25 {
  padding-left: 25px!important;
  padding-right: 25px !important;
}
.ph30 {
  padding-left: 30px!important;
  padding-right: 30px !important;
}
.ph40 {
  padding-left: 40px!important;
  padding-right: 40px !important;
}
.ph50 {
  padding-left: 50px!important;
  padding-right: 50px !important;
}
@media (min-width: 1140px) {
  .ptn-lg {
    padding-top: 0 !important;
  }
  .prn-lg {
    padding-right: 0 !important;
  }
  .pbn-lg {
    padding-bottom: 0 !important;
  }
  .pln-lg {
    padding-left: 0 !important;
  }
  .pt5-lg {
    padding-top: 5px !important;
  }
  .pr5-lg {
    padding-right: 5px !important;
  }
  .pb5-lg {
    padding-bottom: 5px !important;
  }
  .pl5-lg {
    padding-left: 5px !important;
  }
}
@media (min-width: 992px) {
  .ptn-md {
    padding-top: 0 !important;
  }
  .prn-md {
    padding-right: 0 !important;
  }
  .pbn-md {
    padding-bottom: 0 !important;
  }
  .pln-md {
    padding-left: 0 !important;
  }
  .pt5-md {
    padding-top: 5px !important;
  }
  .pr5-md {
    padding-right: 5px !important;
  }
  .pb5-md {
    padding-bottom: 5px !important;
  }
  .pl5-md {
    padding-left: 5px !important;
  }
}
.mauto {
  margin-left: auto;
  margin-right: auto;
}
.m-n {
  margin: 0 !important;
}
.m-1 {
  margin: 1px !important;
}
.m-2 {
  margin: 2px !important;
}
.m-3 {
  margin: 3px !important;
}
.m-4 {
  margin: 4px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-8 {
  margin: 8px !important;
}
.m-10 {
  margin: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.m30 {
  margin: 30px !important;
}
.m35 {
  margin: 35px !important;
}
.m40 {
  margin: 40px !important;
}
.m50 {
  margin: 50px !important;
}
.mtn {
  margin-top: 0 !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mrn {
  margin-right: 0 !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.mbn {
  margin-bottom: 0 !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mln {
  margin-left: 0 !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.mv5 {
  margin-top: 5px!important;
  margin-bottom: 5px !important;
}
.mv10 {
  margin-top: 10px!important;
  margin-bottom: 10px !important;
}
.mv15 {
  margin-top: 15px!important;
  margin-bottom: 15px !important;
}
.mv20 {
  margin-top: 20px!important;
  margin-bottom: 20px !important;
}
.mv25 {
  margin-top: 25px!important;
  margin-bottom: 25px !important;
}
.mv30 {
  margin-top: 30px!important;
  margin-bottom: 30px !important;
}
.mv40 {
  margin-top: 40px!important;
  margin-bottom: 40px !important;
}
.mv50 {
  margin-top: 50px!important;
  margin-bottom: 50px !important;
}
.mv70 {
  margin-top: 70px!important;
  margin-bottom: 70px !important;
}
.mh5 {
  margin-left: 5px!important;
  margin-right: 5px !important;
}
.mh10 {
  margin-left: 10px!important;
  margin-right: 10px !important;
}
.mh15 {
  margin-left: 15px!important;
  margin-right: 15px !important;
}
.mh20 {
  margin-left: 20px!important;
  margin-right: 20px !important;
}
.mh25 {
  margin-left: 25px!important;
  margin-right: 25px !important;
}
.mh30 {
  margin-left: 30px!important;
  margin-right: 30px !important;
}
.mh40 {
  margin-left: 40px!important;
  margin-right: 40px !important;
}
.mh50 {
  margin-left: 50px!important;
  margin-right: 50px !important;
}
.mh70 {
  margin-left: 70px!important;
  margin-right: 70px !important;
}
.mtn5 {
  margin-top: -5px !important;
}
.mtn10 {
  margin-top: -10px !important;
}
.mtn15 {
  margin-top: -15px !important;
}
.mtn20 {
  margin-top: -20px !important;
}
.mtn30 {
  margin-top: -30px !important;
}
.mrn5 {
  margin-right: -5px !important;
}
.mrn10 {
  margin-right: -10px !important;
}
.mrn15 {
  margin-right: -15px !important;
}
.mrn20 {
  margin-right: -20px !important;
}
.mrn30 {
  margin-right: -30px !important;
}
.mbn5 {
  margin-bottom: -5px !important;
}
.mbn10 {
  margin-bottom: -10px !important;
}
.mbn15 {
  margin-bottom: -15px !important;
}
.mbn20 {
  margin-bottom: -20px !important;
}
.mbn30 {
  margin-bottom: -30px !important;
}
.mln5 {
  margin-left: -5px !important;
}
.mln10 {
  margin-left: -10px !important;
}
.mln15 {
  margin-left: -15px !important;
}
.mln20 {
  margin-left: -20px !important;
}
.mln30 {
  margin-left: -30px !important;
}
.mvn5 {
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}
.mvn10 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}
.mvn15 {
  margin-top: -15px !important;
  margin-bottom: -15px !important;
}
.mvn20 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}
.mvn30 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}
.mhn5 {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.mhn10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.mhn15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.mhn20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.mhn30 {
  margin-left: -30px !important;
  margin-right: -30px !important;
}
.lh0 {
  line-height: 0 !important;
}
.lh5 {
  line-height: 5px !important;
}
.lh10 {
  line-height: 10px !important;
}
.lh15 {
  line-height: 15px !important;
}
.lh20 {
  line-height: 20px !important;
}
.lh25 {
  line-height: 25px !important;
}
.lh30 {
  line-height: 30px !important;
}
.lh35 {
  line-height: 35px !important;
}
.lh40 {
  line-height: 40px !important;
}
.br-n {
  border: none !important;
}
.br-a {
  border: 1px solid #eee !important;
}
.br-l {
  border-left: 1px solid #eee !important;
}
.br-r {
  border-right: 1px solid #eee !important;
}
.br-t {
  border-top: 1px solid #eee !important;
}
.br-b {
  border-bottom: 1px solid #eee !important;
}
.br-dashed {
  border-style: dotted !important;
}
.br0 {
  border-radius: 0 !important;
}
.br1 {
  border-radius: 1px !important;
}
.br2 {
  border-radius: 2px !important;
}
.br3 {
  border-radius: 3px !important;
}
.br4 {
  border-radius: 4px !important;
}
.br6 {
  border-radius: 6px !important;
}
.br8 {
  border-radius: 8px !important;
}
.br12 {
  border-radius: 12px !important;
}
.br24 {
  border-radius: 24px !important;
}
.br64 {
  border-radius: 64px !important;
}
.bw1 {
  border-width: 1px !important;
}
.bw2 {
  border-width: 2px !important;
}
.bw3 {
  border-width: 3px !important;
}
.bw4 {
  border-width: 4px !important;
}
.bw5 {
  border-width: 5px !important;
}
.bw8 {
  border-width: 8px !important;
}
.bw10 {
  border-width: 10px !important;
}
.bw15 {
  border-width: 15px !important;
}
.br-white {
  border-color: #fff !important;
}
.br-lighter {
  border-color: #eee !important;
}
.br-light {
  border-color: #e7e7e7 !important;
}
.br-grey {
  border-color: #d9d9d9 !important;
}
.br-greyer {
  border-color: #ccc !important;
}
.br-dark {
  border-color: #1D2D44 !important;
}
.br-dark-light {
  border-color: #51566c !important;
}
.br-primary {
  border-color: #3498db !important;
}
.br-primary-light {
  border-color: #5faee3 !important;
}
.br-info {
  border-color: #3bafda !important;
}
.br-info-light {
  border-color: #66c1e2 !important;
}
.br-success {
  border-color: #70ca63 !important;
}
.br-success-light {
  border-color: #93d789 !important;
}
.br-warning {
  border-color: #f6bb42 !important;
}
.br-warning-light {
  border-color: #f8cd73 !important;
}
.br-danger {
  border-color: #df5640 !important;
}
.br-danger-light {
  border-color: #e67d6c !important;
}
.br-alert {
  border-color: #967adc !important;
}
.br-alert-light {
  border-color: #b6a2e7 !important;
}
.br-system {
  border-color: #37bc9b !important;
}
.br-system-light {
  border-color: #58ceb1 !important;
}
.br-tp-top {
  border-top-color: rgba(0, 0, 0, 0.1);
}
.br-tp-right {
  border-right-color: rgba(0, 0, 0, 0.1);
}
.br-tp-left {
  border-left-color: rgba(0, 0, 0, 0.1);
}
.fluid-width {
  width: 100% !important;
}
.mw10 {
  max-width: 10px !important;
}
.mw20 {
  max-width: 20px !important;
}
.mw30 {
  max-width: 30px !important;
}
.mw35 {
  max-width: 35px !important;
}
.mw40 {
  max-width: 40px !important;
}
.mw45 {
  max-width: 45px !important;
}
.mw50 {
  max-width: 50px !important;
}
.mw60 {
  max-width: 60px !important;
}
.mw80 {
  max-width: 80px !important;
}
.mw100 {
  max-width: 100px !important;
}
.mw140 {
  max-width: 140px !important;
}
.mw160 {
  max-width: 160px !important;
}
.mw180 {
  max-width: 180px !important;
}
.mw200 {
  max-width: 200px !important;
}
.mw240 {
  max-width: 240px !important;
}
.mw280 {
  max-width: 280px !important;
}
.mw320 {
  max-width: 320px !important;
}
.mw400 {
  max-width: 400px !important;
}
.mw450 {
  max-width: 450px !important;
}
.mw500 {
  max-width: 500px !important;
}
.mw600 {
  max-width: 600px !important;
}
.mw700 {
  max-width: 700px !important;
}
.mw800 {
  max-width: 800px !important;
}
.mw900 {
  max-width: 900px !important;
}
.mw1000 {
  max-width: 1000px !important;
}
.mw1100 {
  max-width: 1100px !important;
}
.mw1200 {
  max-width: 1200px !important;
}
.w20 {
  width: 20px !important;
}
.w30 {
  width: 30px !important;
}
.w40 {
  width: 40px !important;
}
.w50 {
  width: 50px !important;
}
.w75 {
  width: 75px !important;
}
.w100 {
  width: 100px !important;
}
.w125 {
  width: 125px !important;
}
.w150 {
  width: 150px !important;
}
.w175 {
  width: 175px !important;
}
.w200 {
  width: 200px !important;
}
.w225 {
  width: 225px !important;
}
.w250 {
  width: 250px !important;
}
.w275 {
  width: 275px !important;
}
.w300 {
  width: 300px !important;
}
.w320 {
  width: 320px !important;
}
.w350 {
  width: 350px !important;
}
.w375 {
  width: 375px !important;
}
.w400 {
  width: 400px !important;
}
.w450 {
  width: 450px !important;
}
.mnw20 {
  min-width: 20px !important;
}
.mnw30 {
  min-width: 30px !important;
}
.mnw40 {
  min-width: 40px !important;
}
.mnw50 {
  min-width: 50px !important;
}
.mnw75 {
  min-width: 75px !important;
}
.mnw100 {
  min-width: 100px !important;
}
.mnw125 {
  min-width: 125px !important;
}
.mnw150 {
  min-width: 150px !important;
}
.mnw175 {
  min-width: 175px !important;
}
.mnw200 {
  min-width: 200px !important;
}
.mnw250 {
  min-width: 250px !important;
}
.mnw300 {
  min-width: 300px !important;
}
.mnw500 {
  min-width: 500px !important;
}
.mnw700 {
  min-width: 700px !important;
}
.mnw1000 {
  min-width: 1000px !important;
}
body {
  background: #f5f5f5;
}
html {
  overflow-y: auto;
  overflow-x: hidden;
}
/* label color */
.input-field label {
  color: #263238;
}
.input-field input[type="password"] {
  font-size: 18px;
  letter-spacing: 4px;
}
.picker .picker__box {
  border: 1px solid #0d47a1;
}
.picker .picker__day--infocus {
  line-height: 1;
}
.btn-social .fa {
  padding-right: 10px;
  vertical-align: top;
}
.picker__clear {
  display: none;
}
.white-text .select-wrapper span.caret {
  color: white;
}
.page {
  margin: 0 0 2rem;
  min-height: 100vh;
}

#language-form .input-field input.select-dropdown{
  margin: 0px;
  height: 80px;
  width: 90px;
  text-transform: uppercase;
  padding: 0 15px 0 20px;
  border-bottom: none;
}

#language-form .input-field .dropdown-content.select-dropdown {
  width: 220px !important;
}

#language-form .select-wrapper span.caret {
  top: 0;
}

#currency-form .input-field input.select-dropdown{
  margin: 0px;
  height: 80px;
  width: 30px;
  text-transform: uppercase;
  padding: 0 15px 0 20px;
  border-bottom: none;
}

#currency-form .input-field .dropdown-content.select-dropdown {
  width: 100px !important;
}

#currency-form .select-wrapper span.caret {
  top: 0;
}

.page-subheader {
  margin: 0 0 1rem;
}
.page-subheader nav {
  background: white;
}
.page-subheader nav,
.page-subheader nav .nav-wrapper i,
.page-subheader nav a.button-collapse,
.page-subheader nav a.button-collapse i {
  height: 45px;
  line-height: 45px;
}
.page-subheader .container {
  padding-left: 145px;
}
.page-subheader .breadcrumb {
  color: #212121;
  font-size: 16px;
}
.page-subheader .breadcrumb:before {
  color: #9e9e9e;
  font-size: 24px;
}
.page-subheader .breadcrumb:last-child {
  color: #212121;
}
.page-subheader + .page-alerts {
  margin: -1rem 0 0;
}
.page-alerts:empty {
  display: none;
}
.page-alerts .alert,
.page-alerts .container {
  position: relative;
}
.page-alerts .close {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 6px 0 6px 10px;
}
.page-alerts .close i {
  line-height: 40px;
}
@media only screen and (max-width: 992px) {
  .page-subheader .container {
    padding-left: 0;
  }
}
.page-heading {
  font-weight: 300;
  text-align: center;
  margin: 3rem 0 2rem 0;
  font-size: 2.28rem;
}
.body-wrap {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #eceff1;
}
#header-main nav,
#header-main nav .nav-wrapper i,
#header-main nav a.button-collapse,
#header-main nav a.button-collapse i {
  height: 80px;
  line-height: 80px;
}
#header-main .brand-logo {
  font-size: 0;
  vertical-align: top;
}
#header-main .brand-logo img {
  vertical-align: top;
}
#header-main .brand-logo img.logo-header {
  margin: -22px 0 0;
  padding: 8px;
  background: #212121;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header-main .brand-logo img.logo-header-text {
  margin: 20px 15px;
}
#header-main .main-nav {
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  #header-main .brand-logo img.logo-header {
    margin: 5px;
    max-width: 70px;
    width: auto !important;
    height: auto !important;
  }
}
#PageHome .intro {
  background: #212121 url('https://luxury-discounts.com/ui/img/home_intro.gif') no-repeat center center;
  background-size: cover;
  height: 700px;
}
#PageHome .intro .intro-heading{
  margin: 0 0 2rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 600;
  text-shadow: 0 2px 10px #212121;
  position: relative;
  line-height: 110%;
  font-size: 2.92rem;
}
#PageHome .intro .input-field {
  background-color: white;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#PageHome .intro .input-field .btn-floating {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -18px;
}
#PageHome .intro .input-field input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding-right: 34px;
  line-height: 34px;
  border: none !important;
  height: 4rem;
  padding: 10px 50px 10px 22px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
#PageHome .intro .input-field input::-webkit-input-placeholder {
  color: #607d8b;
}
#PageHome .intro .input-field input:-moz-placeholder {
  /* Firefox 18- */
  color: #607d8b;
}
#PageHome .intro .input-field input::-moz-placeholder {
  /* Firefox 19+ */
  color: #607d8b;
}
#PageHome .intro .input-field input:-ms-input-placeholder {
  color: #607d8b;
}
#PageHome .datepicker-toolbar {
  background-color: white;
}
#PageHome .datepicker-toolbar h3 {
  padding: 5px 10px;
  color: #212121;
  margin: 0;
  font-weight: 300;
}
#PageHome .datepicker-toolbar nav {
  background-color: white;
  color: #263238;
}
#PageHome .register {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #212121;
  color: white;
  padding: 8% 0;
}
#PageHome .register a {
  color: white;
}
#PageHome .register a:hover {
  color: #ffd54f;
}
#PageHome .register .text h4 {
  font-weight: 300;
  color: #ffd54f;
  text-transform: uppercase;
}
#PageHome .register .text p {
  margin: 0;
  font-weight: 300;
}
#PageHome .locations {
  background-color: #f5f5f5;
}
#PageHome .locations .card {
  background-size: cover;
  background-position: center center;
}
#PageHome .locations .card .card-image {
  max-height: 100%;
  height: 100%;
  text-align: center;
}
#PageHome .locations .card .card-image .card-title {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 2px 2px #000;
}
#PageHome .hotels {
  background: white;
  padding: 25px 0;
}
.sidenav-left,
.sidenav-right {
  margin: 1rem 0 1.5rem;
}
.sidebar-nav .collection {
  border: none;
  margin: -20px;
}
.item-listing {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 15px 0;
}
.item-listing .item-sale {
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.item-listing .item-sale .link-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.item-listing .item-sale .link-wrap:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#SalesIndex .card.horizontal .card-image {
    width: 100%;
    max-width: 50%;
    background-size: cover;
    background-position: center;
}
#SalesIndex .card .card-image {
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  min-height: 210px;
}
#SalesIndex .card.horizontal .card-image img {
  -webkit-border-radius: 2px 0 0 0;
  -moz-border-radius: 2px 0 0 0;
  border-radius: 2px 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#SalesIndex .card .card-image .card-title {
  width: 100%;
  background-image: -moz-linear-gradient(bottom, #000000 0%, transparent 100%);
  /* gradient overlay */
  background-image: -o-linear-gradient(bottom, #000000 0%, transparent 100%);
  /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, #000000 0%, transparent 100%);
  /* gradient overlay */
  background-image: linear-gradient(bottom, #000000 0%, transparent 100%);
  /* gradient overlay */
}
#SalesIndex .card .card-content .card-title {
  line-height: 32px;
  margin: 0 0 10px;
}
#SalesIndex .pagination .active {
  background-color: #ff8f00;
}
#SalesIndex .time-left:hover {
  color: #ffab40;
}
#SalesIndex .from-price {
  margin-right: 5px;
  font-size: 24px;
}
#SalesIndex .from-price:hover {
  color: #ffab40;
}
#SalesIndex .card .card-label-container {
  position: absolute;
  margin: 10px;
  pointer-events: none;
  cursor: default;
}

#SalesIndex .card .card-label-container .card-label {
  display: inline-block;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 3px;
}

#SalesView {
  margin-top: 3rem;
}
#SalesView .sale-info .title {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 2.28rem;
}
#SalesView .sale-info .location {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #455a64;
  font-size: 1.64rem;
}
#SalesView .sale-info .flexslider {
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#SalesView .sale-info .flexslider:hover .flex-direction-nav a.flex-prev {
  left: 25px;
}
#SalesView .sale-info .flexslider:hover .flex-direction-nav a.flex-next {
  right: 25px;
}
#SalesView .sale-info .flexslider img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#SalesView .sale-info .flexslider .flex-direction-nav a {
  font-size: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
  -moz-box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
}
#SalesView .sale-info .flexslider .flex-direction-nav a:before {
  display: none;
}
#SalesView .sale-info .flexslider .flex-direction-nav a.flex-prev {
  background: url('../../files/images/ic_keyboard_arrow_left_24px.svg') #ffffff 45% 50% no-repeat;
  background-size: auto 34px;
}
#SalesView .sale-info .flexslider .flex-direction-nav a.flex-next {
  background: url('../../files/images/ic_keyboard_arrow_right_24px.svg') #ffffff 45% 50% no-repeat;
  background-size: auto 34px;
}
#SalesView .sale-info .flexslider .flex-caption {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#SalesView .sale-info .flexslider .flex-control-nav {
  bottom: 0px;
}
#SalesView .sale-info .sale-booking .book-date label {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 0 5px;
}
#SalesView .sale-info .sale-booking .book-period b,
#SalesView .sale-info .sale-booking .book-price b {
  float: right;
}
#SalesView .sale-info #location_map {
  overflow: hidden;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#SalesView .sale-info #offers .offer {
  font-size: 14px;
}
#SalesView .sale-info #offers .offer .card-panel {
  padding: 20px 20px 5px 20px;
  background: #242424;
  color: #fff;
}
#SalesView .sale-info #offers .offer .card-panel.booking-calendar {
  background: #fff;
  color: #242424;
}
#SalesView .sale-info #offers .offer .card-panel.opened {
  background: #242424;
  color: #fff;
  border-left: 3px solid #ff8f00;
}
#SalesView .sale-info #offers .offer h6 {
  font-size: 18px;
}
#SalesView .sale-info #offers .offer .modal-content {
  color: #000;
}
#SalesView .sale-info #offers .offer .divider {
  background-color: #3b3b3b;
}
#SalesView .sale-info #offers .offer .select-wrapper input.select-dropdown {
  border-bottom: 1px solid #3b3b3b;
}
#SalesView .sale-info #offers .offer .price {
  font-size: 21px;
  text-align: right;
  color: #ff8f00;
}
#SalesView .sale-info #offers .offer .price .small {
  font-size: 12px;
  color: #fff;
}
#SalesView .sale-info #offers .offer .input-field label {
  color: #fff;
}
#SalesView .sale-info #offers .offer .selected-offer {
  color: #ff8f00;
}
#SalesView .sale-info #offers .offer .description {
  margin-top: 20px;
}
#SalesView .sale-info #offers .offer ul.actions {
  /*text-align:center;*/
}
#SalesView .sale-info #offers .offer ul.actions li {
  margin: 0 15px 0 0;
}
#SalesView .sale-info #offers .offer ul.actions li button {
  width: 270px;
  text-align: left;
}
#SalesView .sale-info #offers .offer ul.actions li button img {
    height: 22px;
    width: auto;
    vertical-align: middle;
    padding-right: 17px;
}
#SalesView .sale-info #offers .offer ul.actions li a {
  text-transform: uppercase;
}

#SalesView .sale-info #offers .offer ul.actions li button.modal-trigger {
  padding: 0 1rem;
  margin-top: 10px;
}

#SalesView .sale-book span.step-number {
  background: #ff8f00;
  color: #fff;
  width: 40px;
  height: 40px;
  display: block;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display:inline-block;
  margin-right: 15px;
}

#SalesView .sale-book .sale-image {
  width: 100%;
  height: auto;
}

#SalesView .sale-book .pricing {
  margin-top: 34px;
  font-size: 20px;
}

#SalesView .we-like ul li{
  list-style-type: disc;
  margin-left: 17px;
}

@media only screen and (min-width: 1140px) {
  #SalesView .booking-affix {
    max-width: 320px;
  }
  #SalesView .booking-affix.affix {
    position: fixed;
    top: 20px;
  }
  #SalesView .booking-affix.bottom {
    position: absolute;
    top: auto;
    bottom: 8px;
    left: 8px;
  }
}
#SalesPrint .logo {
  padding: 0 0 10px 0;
}
#SalesPrint .logo .logo-header {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px;
   height: 75px;
}
#SalesPrint hr {
  border-top: 1px solid #d0d0d0;
}
#SalesPrint h5 {
  font-size: 1.3rem;
}
#SalesPrint .logo h3 {
  display: inline-block;
  font-size: 2rem;
}
#SalesPrint .logo-header {
  display: flex;
  vertical-align: bottom;
  margin-right: 20px;
}
#footer-main .payment {
  float: right;
  margin: 10px 0 0;
}
#footer-main .ssl {
  float: right;
  font-size: 0;
  margin: 0 0 0 15px;
}
#footer-main .ssl #tl_popupCL1 iframe {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
}
#footer-main .footer-copyright {
  background-color: transparent;
  height: auto;
}
#footer-main .footer-copyright .payment {
  max-width: 100%;
}
#offers .description ul li {
    list-style-type: disc;
    margin-left: 17px;
}
div#summary-description ul li {
    list-style-type: disc;
    margin-left: 17px;
}
.booking-calendar .no-allocations {
  color: red;
  text-align: center;
}

/*Sales View Page*/
.fixed-aside h5 {
  margin: auto;
  padding: 5px;
}

.fixed-aside #book-now {
  margin-top: 10px;
}

#main_details .step-one {
  margin-top: 0;
}

/*Contact Us Page*/
.luxury-contact-details {
  width: 100%;
  /*border-bottom: 1px solid #E0E0E0;*/
  padding-bottom: 20px;
  margin-bottom: 40px;
}

/*.luxury-contact-details__email,
.luxury-contact-details__phone {
  display: inline-block;
}
*/
/*.luxury-contact-details__phone {
  padding-left: 40px;
}*/

.flexslider .slides .hotel-image {
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  height: 500px;
}

@media all and (min-width: 1200px) {
  .custom-columns-row {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .custom-columns-row__custom-column {
    padding-right: 15px;
    padding-left: 15px;
  }

  .fixed-aside {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
  }

  .card-panel.booking-calendar {
    padding: 10px;
  }

  .isl-calendar-picker ul.calendar-days li span.rate {
    font: 10px / 1.5 'Open Sans', sans-serif !important;
  }

  .custom-columns-row__custom-column.width-60 {
    flex-basis: 65%;
    flex: 1;
  }

  .custom-columns-row__custom-column.width-40 {
    flex-basis: 35%;
    position: relative;
  }

  .custom-columns-row__custom-column.width-40.hidden {
    display: none;
  }
}

@media all and (min-width: 1400px) {
  .isl-calendar-picker ul.calendar-days li span.rate {
    font: 11px / 1.5 'Open Sans', sans-serif !important;
  }

  .custom-columns-row__custom-column.width-60 {
    flex-basis: 70%;
  }

  .custom-columns-row__custom-column.width-40 {
    flex-basis: 30%;
    position: relative;
  }

}

@media all and (max-width: 1400px) {
  .input-field label {
    font-size: .8rem;
  }

  nav ul a {
    padding: 0 10px;
    font-size: .85em;
  }

  #language-form .input-field input.select-dropdown {
    padding: 0 10px 0 10px;
    font-size: .85em;
    height: 78px;
  }
}

@media all and (max-width: 1200px) {
  .hide-on-med-and-down {
      display: none!important;
  }
  nav .brand-logo {
    left: 50%;
    transform: translateX(-50%);
  }
  nav a.button-collapse {
      display: block !important;
  }
  #header-main .brand-logo img.logo-header {
      margin: 5px;
      max-width: 70px;
      height: auto;
  }
  .page-subheader .container {
    padding-left: 0;
  }
  .input-field label {
    font-size: .75rem;
  }
}

@media all and (max-width: 768px) {
  #SalesIndex .card.horizontal {
    flex-direction: column;
  }
  #SalesIndex .card.horizontal .card-image {
    max-width: initial;
    min-height: 210px;
  }
  #SalesView .sale-info #offers .offer ul.actions li button {
    width: 100%;
  }
}