.isl-calendar-picker {
    box-sizing: border-box;
}

.isl-calendar-picker #isl-calendar-previous {
    cursor: pointer;
}

.isl-calendar-picker #isl-calendar-next {
    cursor: pointer;
}

.isl-calendar-picker #isl-calendar-previous:before {
    content: '\E5CB';
    vertical-align: top;
    display: inline-block;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
    color: #9e9e9e;
    font-size: 24px;
}

.isl-calendar-picker #isl-calendar-next:before {
    content: '\E5CC';
    vertical-align: top;
    display: inline-block;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
    color: #9e9e9e;
    font-size: 24px;
}

.isl-calendar-picker .calendar-switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.isl-calendar-picker .calendar-switcher .header-title {
    width: 100%;
    text-align: center;
}

.isl-calendar-picker ul.calendar-days-of-week {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    color: #9BA3A7;
}

.isl-calendar-picker ul.calendar-days-of-week li {
    width: calc(100% / 7);
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    padding: 10px 0;
}

.isl-calendar-picker ul.calendar-days {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.isl-calendar-picker ul.calendar-days li {
    text-align: center;
    width: calc(100% / 7);
    cursor: pointer;
    /*padding: 10px 0;*/
    height:46px;
    padding-top:5px;
    border: 1px solid rgba(218, 218, 218, 0.5)!important;
    margin-left:-1px;
    margin-top:-1px;
    border-bottom:none;
    border-right:none;
    font-size:14px;
}

.isl-calendar-picker ul.calendar-days li span.rate {
    color: #ff8c00;
    font: 11px / 1.5 'Open Sans', sans-serif;
    margin-left: 0;
    padding: 0;
    display: block;
}

.isl-calendar-picker ul.calendar-days li.selected span.rate,
.isl-calendar-picker ul.calendar-days li.chosen span.rate {
    color: #fff;
}

.isl-calendar-picker ul.calendar-days li.empty {
    border:none;
}

.isl-calendar-picker ul.calendar-days li.inactive {
    color: #c1c1c1;
    background: #efefef;
}

.isl-calendar-picker ul.calendar-days li.selected.first-selected,
.isl-calendar-picker ul.calendar-days li.chosen.first-selected {
    color: black;
    background: url('../../files/images/start_date.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
}

.isl-calendar-picker ul.calendar-days li.selected.last-selected,
.isl-calendar-picker ul.calendar-days li.chosen.last-selected {
    color: #fff;
    background: url('../../files/images/end_date.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%;
}

.isl-calendar-picker ul.calendar-days li.selected,
.isl-calendar-picker ul.calendar-days li.chosen {
    color: #fff;
    background: #ff8f00;
}

.isl-calendar-picker ul.calendar-days li.selected.first-selected .rate,
.isl-calendar-picker ul.calendar-days li.chosen.first-selected .rate {
    color: #fff;
}

.isl-calendar-picker ul.calendar-days li.selected.last-selected .rate,
.isl-calendar-picker ul.calendar-days li.chosen.last-selected .rate {
    color: #ff8f00;
}

.isl-calendar-picker ul.calendar-days li.day-start {
    background: #C3CACD;
    border-left: 2px solid #2693D5!important;
}

.isl-calendar-picker ul.calendar-days li.day-end {
    background: #C3CACD;
    border-right: 2px solid #2693D5!important;
}

.isl-calendar-picker ul.calendar-days li.day-selected {
    background: #C3CACD;
}

.isl-calendar-picker .date-range {
    min-height: 26px;
    padding-bottom:20px;
    float:left;
    width:80%;
}

.isl-calendar-picker .date-range i {
    font-size: 20px;
    position: relative;
    top: 5px;
}

.isl-calendar-picker .clear-range {
    float: left;
    width: 20%;
    min-height: 26px;
    line-height: 26px;
    padding: 2px 5px;
    text-align: right;
    display:none;
}

.isl-calendar-picker .clear-range a {
    font-size: 14px;
    color: #ff8f00;
}

.isl-calendar-picker div.month {
    padding-bottom: 30px;
}

.isl-calendar-picker .month-label {
    display:block;
    width:100%;
    text-align:center;
    font-weight: 600;
    font-size:18px;
}

.isl-calendar-picker .full-availability {
    text-align:right;
    color: #ff8c00;
    float:right;
    background: #fff;
    outline: 0;
    border: 0;
    line-height: 36px;
}

.isl-calendar-picker .summary{
    background-color: #efefef;
    text-align:center;
    font-size:12px;
    display: none;
    clear:both;
}

.isl-calendar-picker .summary .col {
    padding:10px;
}

.isl-calendar-picker .summary .col:not(:last-child) {
    border-right: 1px solid #dadada;
}

.isl-calendar-picker .summary p {
    margin:0;
}

.isl-calendar-picker .summary p.nights {
    font-size: 16px;
}

.isl-calendar-picker .summary p.total-price,
.isl-calendar-picker .summary p.total-deposit {
    font-size: 18px;
    font-weight: 600;
    color: #ff8f00;
}

#full-availability-popup div.month {
    float: left;
    width: 45%;
    margin-left: 2.5%;
}

@media (max-width: 576px) {
    #full-availability-popup div.month {
        width: 100%;
    }
}