.border-radius(@radius: 5px) {
	-moz-background-clip: padding;
	-moz-border-radius: @radius;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: @radius;
	background-clip: padding-box;
	border-radius: @radius;
}

.opacity(@opacity: 1) {
	-khtml-opacity: @opacity;
	-moz-opacity: @opacity;
	-webkit-opacity: @opacity;
	opacity: @opacity;
}

.columns(@columns: 1) {
	-moz-columns: @columns;
	-webkit-columns: @columns;
	columns: @columns;
}

.transition(@transition) {
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	-webkit-transition: @transition;
	transition: @transition;
}

.transform(@string) {
	-moz-transform: @string;
	-ms-transform: @string;
	-o-transform: @string;
	-webkit-backface-visibility: hidden;
	-webkit-transform: @string;
	backface-visibility: hidden;
	transform: @string;
}

.transform-origin(@string) {
	-ms-transform-origin: @string;
	-webkit-transform-origin: @string;
	transform-origin: @string;
}

.box-shadow(@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow: @string;
	box-shadow: @string;
}

.box-sizing(@string: border-box) {
	-webkit-box-sizing: @string;
	-moz-box-sizing: @string;
	box-sizing: @string;
}

.simple-gradient(@bottom, @top) {
	background-image: -moz-linear-gradient(bottom, @bottom 0%, @top 100%);
	background-image: -o-linear-gradient(bottom, @bottom 0%, @top 100%);
	background-image: -webkit-linear-gradient(bottom, @bottom 0%, @top 100%);
	background-image: linear-gradient(bottom, @bottom 0%, @top 100%);
}

.stripe-gradient(@bottom, @top) {
	background-image: -moz-linear-gradient(bottom, @bottom 0%, @bottom 50%, @top 50%, @top 100%);
	background-image: -o-linear-gradient(bottom, @bottom 0%, @bottom 50%, @top 50%, @top 100%);
	background-image: -webkit-linear-gradient(bottom, @bottom 0%, @bottom 50%, @top 50%, @top 100%);
	background-image: linear-gradient(bottom, @bottom 0%, @bottom 50%, @top 50%, @top 100%);
}

.no-select() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inline-block() {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.z-depth-0() {
	.box-shadow(~'none !important');
}

.z-depth-1() {
	.box-shadow(~'0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)');
}

.z-depth-1-half() {
	.box-shadow(~'0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2)');
}

.z-depth-2() {
	.box-shadow(~'0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3)');
}

.z-depth-3() {
	.box-shadow(~'0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3)');
}

.z-depth-4() {
	.box-shadow(~'0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3)');
}

.z-depth-5() {
	.box-shadow(~'0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3)');
}
