// Fonts
// Material Icons
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('https://luxury-discounts.com/ui/fonts/material-icons/MaterialIcons-Regular.eot');
	src: local('Material Icons'), local('MaterialIcons-Regular'), url('https://luxury-discounts.com/ui/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'), url('https://luxury-discounts.com/ui/fonts/material-icons/MaterialIcons-Regular.woff') format('woff'), url('https://luxury-discounts.com/ui/fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
