<?php
	$this->assign('title', __('About Us'));

	$this->HtmlBetter->addCrumb(__('Home'), '/');
	$this->HtmlBetter->addCrumb(__('About Us'), '/pages/about-us');
?>
<section id="PageAboutUs">
	<div class="container">
		<div class="row">
			<div class="col s12 l3 sidenav-left">
				<?= $this->element('Sidebar/nav-pages'); ?>
			</div>
			<div class="col s12 l9">
				<h4 class="page-heading"><?= __('About Us'); ?></h4>
				<div class="card-panel p30" style="text-align: justify;">
					<p dir="ltr"><span>Ние сме екип от млади експерти в сферата на туризма. Поставили сме си за цел да създадем и развиваме печеливш бизнес, инвестирайки в отношенията с нашите клиенти в дългосрочен план. Решихме да създадем онлайн платформа, подбирайки най-добрите хотели и почивки и предлагайки ексклузивни промоции достъпни само за потребителите на нашия уеб-сайт. Ние сме наистина отдадени на това с което се занимаваме и пътуването е нашата страст.</span></p>

					<p dir="ltr"><span class="amber-text text-darken-3 fw500">Луксури Дискаунтс</span><span> е платформа за луксозни пътувания, достъпна само за регистрирали се потребители на нашия уеб-сайт. Ние предлагаме незабравими ръчно-подбрани оферти за пътувания на невероятни цени, валидни само за ограничен период от време. </span><span class="amber-text text-darken-3 fw500">Луксури Дискаунтс</span><span> функционира като агент на тур операторите и хотелите, предоставяйки Ви ексклузивни промоции на нашия сайт.</span></p>

					<p dir="ltr"><span>Ние от </span><span class="amber-text text-darken-3 fw500">Луксури Дискаунтс</span><span>, вярваме, че резервирането на екскурзия или престой в хотел трябва да е вълнуващо, спонтанно и приятно изживяване. Точно за това ние ще направим цялото проучване и предварителен анализ на пазара, докато Вие седите удобно и си почивате. Нашите промоции са създадени с цел да предоставят страхотни преживявания за Вас на изключителни цени – ексклузивни оферти за най-добрите хотели и дестинации в света.</span></p>

					<p dir="ltr"><span>Всяка седмица Вие ще получавате от нас бюлетин, съдържащ списък с най-вдъхновяващите ръчно-подбрани оферти за седмицата. Ние сме напълно независими от гледна точка на начина, по-който подбираме нашите промоции и никога не бихме препоръчали хотел или екскурзия, които и ние самите не бихме резервирали. Ние познаваме компонентите и изискванията за една луксозна почивка и ще договаряме изключителни оферти и промоции за нашите клиенти. Ще направим всичко възможно да получите най-добрата оферта с отстъпки до 70%.</span></p>

					<p dir="ltr"><span class="amber-text text-darken-3 fw500">Луксури Дискаунтс</span><span> не е за клиенти, които държат единствено на ниската цена.</span><br class="kix-line-break" />
					<span>Ние предлагаме само четири и пет-звездни хотели и курорти, които смятаме, че са по-добри от останалите и достатъно добри, за да ги препоръчаме на нашите потребители. В същото време работим единствено с хотели, предлагащи ни ексклузивни цени, които няма да намерите никъде другаде.</span></p>

					<p dir="ltr"><span>Нашата мисия е да направим всичко възможно </span><span class="amber-text text-darken-3 fw500">вашето приключение да си заслужава</span><span style="font-size: 16px; font-family: Arial; color: rgb(255, 192, 0); background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">.</span></p>

					<p><span>Погледнете на света през призмата на стила и лукса. Вижте нашите страхотни оферти и се регистрирайте на сайта на </span><span class="amber-text text-darken-3 fw500">Луксури Дискаунтс</span><span>.</span></p>

					<div class="text-center">
						<a class="waves-effect waves-light btn-large" href="<?= $this->Url->build('/register', true); ?>" style="background-color: rgb(255, 192, 0);">Регистрация</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
