<?php
	$this->HtmlBetter->addCrumb(__('Home'), '/');
	$this->HtmlBetter->addCrumb(__('Privacy Policy'), '/pages/privacy-policy');
?>
<section id="PagePrivacyPolicy">
	<div class="container">
		<div class="row">
			<div class="col s12 l3 sidenav-left">
				<?= $this->element('Sidebar/nav-pages'); ?>
			</div>
			<div class="col s12 l9">
				<h4 class="page-heading"><?= __('Privacy Policy'); ?></h4>
				<div class="card-panel p30" style="text-align: justify;">
					<p>Луксури Дискаунтс ООД <strong>(&bdquo;Луксури Дискаунтс</strong>&ldquo;) е собственик и оператор на уебсайта <strong>luxury-discounts.com</strong>. Луксури Дискаунтс е администратор на лични данни в съответствие с българското законодателство за защита на личните данни. От 25 май 2018 година в България започва да се прилага <strong>Общият регламент за защита на личните данни</strong><strong> -Регламент (ЕС) 2016/679 (</strong><strong>General</strong><strong>Data</strong><strong>Protection</strong><strong>Regulation</strong><strong> - </strong><strong>GDPR),</strong> чиято цел е да уеднакви политиките на държавите-членки на Европейския съюз за събиране и използване на личните данни. Ние полагаме необходимите усилия за защита на личните Ви данни. В настоящата Политика за поверителност описваме начина, по който събираме и обработваме личните данни, как ги използваме и за какви цели, на кого могат да бъдат предоставени, след като бъдат запаметени от нашата платформа или друг споделен начин за събиране на лични данни. Всички данни, въз основа на които може да бъде идентифициран даден потребител, се считат за лични данни и трябва да бъдат защитени. Такива могат да бъдат: имена, мобилен телефон, адрес по местоживеене, имейл адрес, IP адрес. Ние използваме Вашите данни само за цели, описани в <strong>Общите правила и условия</strong>, като обработваме и съхраняваме предоставената лична информация в обезопасена софтуерна среда.</p>
					<p>Съгласно изискванията на Общия регламент за защита на личните данни, които прилагаме и спазваме, ние следва:</p>
					<ul>
					<li>Да Ви информираме какви данни използваме и за какви цели;</li>
					<li>Да искаме Вашето съгласие да ги използваме, когато на тяхна база предоставяме допълнителни услуги (напр. реклама);</li>
					<li>Да Ви дадем възможност, когато обработваме данни на база Вашето съгласие, да можете да го оттеглите по всяко време;</li>
					<li>Да гарантираме упражняването на правата Ви като субект на данни съгласно Общия регламент за защита на личните данни (като право на информация и достъп до, коригиране или изтриване на Вашите лични данни, право да възразите срещу и да искате ограничаване на обработването на личните Ви данни, право на преносимост на данни, право на жалба);</li>
					<li>Да посочваме всички трети лица, с които обменяме Вашите данни.</li>
					</ul>
					<p>Какви данни събираме от регистрираните потребители на нашия уебсайт</p>
					<p>Информираме Ви, че за успешното запазване на Вашата резервация и закупуването на избрания туристически продукт или услуга, може да поискаме трите Ви имена, пол, домашен адрес, имейл адрес, мобилен телефон както и друга информация, ако е необходима за Вашата резервация (паспорт или лична карта, дата на издаване, включително и за хората, които ще пътуват с Вас). Тази информация е необходима за обработване на Вашата резервация и може да бъде предоставена на представители, доставящи услугата (хотели, туроператори, авиокомпании, публични органи като митнически и имиграционни служби, ако е необходимо). В съответствие с избраните дестинации и гореспоменатото, при необходимост личните данни могат да бъдат прехвърлени (при адекватно ниво на защита) извън рамките на европейското икономическо пространство, за което Вие се съгласявате (както и придружителите), приемайки Общите правила и условия.</p>
					<p>С приемането на Общите правила и условия, потребителят се съгласява да предостави изисканите лични данни за целите на платформата, които ще бъдат обработени в следващата поръчка. Тези действия на потребителя в уебсайта (посетени оферти, харесани оферти, често задавани въпроси, коментари) или информация, касаеща закупените от потребителя оферти (дестинации, цени, дати, условия на офертата, отстъпки) могат да бъдат използвани от нас за целите на директен маркетинг и предоставяне на подходящи реклами, нови промоции и отстъпки. В съответствие с Общия регламент за защита на личните данни, ние ще поискаме съгласието на потребителя да получава бюлетин или промоция чрез имейл, Google+, Facebook или друга социална медия. С приемането на Общите правила и условия, потребителят се съгласява Луксури Дискаунтс да предоставя на своите партньори имейл адреси и други лични данни, необходими за предоставянето на услугата, когато се закупува продукт от нашата платформа. Даденото от потребителя съгласие за обработване на предоставени от него данни може да бъде оттеглено по всяко време. Ако изберете да оттеглите съгласието си, това може да има за последица прекратяване на регистрацията, когато съгласието е условие за получаване на избраната услуга през платформата.</p>
					<p>За достъп до нашия уеб сайт чрез мобилно устройство или нашата мобилна апликация, потребителят се съгласява да позволи на Луксури Дискаунтс да събира информация, засягаща текущо местоположение, което може да бъде използвано за най-любимите дестинации на туриста в съответствие с неговите интереси, използвайки платформата.</p>
					<p>Колко време съхраняваме данните</p>
					<p>Ние съхраняваме данните, докато не престанат да бъдат необходими за предоставяне на нашите услуги или докато е активна регистрацията на потребителя &ndash; което от двете събития се случи първо. Личните данни, използвани за целите на измерване на потребителското поведение на потребителите на нашия уебсайт, се съхраняват не повече от 6 (шест) месеца. При прекратяване на регистрацията се заличават всички данни на съответния потребител.</p>
					<p>Информацията, която получаваме от Вас, може да бъде съхранявана за удължен период от време (поне една година), когато е обект на законно искане или в изпълнение на задължение по закон, държавно разследване, нарушение на Общите условия и правила.</p>
					<p>Когато правите резервация за избрана туристическа услуга чрез нашия уебсайт, ще бъдете препратени към портал за плащане, където може да попълните вашите детайли за избрания начин на плащане. Не пазим никаква информация, засягаща вашите плащания, като например информация за кредитни/дебитни карти. Порталите за плащане, които използваме, обработват информация, необходима за заплащане и запазване на туристическа услуга. След като получим Вашето плащане, трансферираме същото към доставчика на избрания туристически продукт или услуга, закупена чрез нашия уебсайт.</p>
					<p>Кога можем да споделяме и разкриваме данни</p>
					<p>Луксури Дискаунтс приема задължението да не споделя по никакъв начин предоставените лични данни на потребителя и да не предоставя събраната информация на трети страни &ndash; физически лица, юридически лица, държавни органи, освен когато: а) потребителят е дал изрично съгласието си за това при регистрацията или по-късно; или (б) налице е законово основание - информацията е изискана от регулаторен, правораздавателен или друг орган, при спазени законови процедури и с надлежно основание; или (в) в други случаи, предвидени от закона или Общите правила и условия.</p>
					<p>Ние можем да осъществяваме достъп, запазваме и споделяме Вашата информация с регулаторни, правоприлагащи или други официални органи, при наличие на законово основание за това и въз основа на законно искане, както и когато, действайки добросъвестно, считаме, че е необходимо за предотвратяване/разкриване на незаконна дейност, неразрешена употреба на нашия продукт, нарушение на Общите правила и условия, включително при проверка от регулаторен орган или провеждано разследване, за защита на нашите права и продукт, Ваши жизненоважни интереси или тези на друго лице, при изпълнение на задачи от обществен интерес.</p>
					<p>Ние ограничаваме достъпа до информация за потребителя от страна на наши служители, освен когато това е необходимо за предоставяне на избраната услуга или е във връзка с изпълнение на възложената работа на тези служебни. Луксури Дискаунтс разполага с физически, електронни и процедурни средства за защита на събраната информация, в съответствие със законовите изисквания.</p>
					<p>Права на субектите на данни според Общия регламент за защита на личните данни</p>
					<ul>
					<li><strong>Право на информация и достъп до личните Ви данни:</strong> имате право да поискате и получите потвърждение дали се обработват лични данни за Вас, съответно имате право на достъп до личните данни и информация;</li>
					<li><strong>Право на коригиране на лични данни:</strong> ако установите, че обработваните за Вас лични данни са неточни, имате право да поискате да коригираме тези данни;</li>
					<li><strong>Право на изтриване на лични данни (право да бъдете забравени):</strong> при оттеглено съгласие (ако обработката на лични данни е основана на съгласие) или ако личните Ви данни са обработени незаконно, имате право да поискате личните Ви данни да бъдат изтрити;</li>
					<li><strong>Право на ограничаване на обработването:</strong> ако сте възразили срещу легитимната цел за обработване на личните Ви данни, имате право да поискате ограничаване на обработването, докато бъде намерено решение;</li>
					<li><strong>Право на възражение срещу обработването:</strong> ако се съмнявате в легитимността на интереса за обработване на Вашите лични данни, имате право по конкретни съображения да възразите срещу това обработване;</li>
					<li><strong>Право на преносимост на данни:</strong> имате право да поискате да прехвърлим личните Ви данни на друг администратор на лични данни;</li>
					</ul>
					<p><strong>Право на подаване на жалба пред контролен орган:</strong> имате право да подадете жалба пред съответния контролен орган във връзка с извършваното от нас обработване на Вашите лични данни.</p>
					<p class="address">Луксури Дискаунтс ООД<br/>
						ж.к. "Гоце Делчев", бул. "България" 49А, ет. 2, офис 8<br/>
						София, България<br/>
						<a href="mailto:support@luxury-discounts.com">support@luxury-discounts.com</a> <br/>
						+359 2 4917 959
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
