<?php
	$this->assign('title', __('Terms & Conditions'));

	$this->HtmlBetter->addCrumb(__('Home'), '/');
	$this->HtmlBetter->addCrumb(__('Terms & Conditions'), '/pages/terms');
?>
<section id="PageTerms">
	<div class="container">
		<div class="row">
			<div class="col s12 l3 sidenav-left">
				<?= $this->element('Sidebar/nav-pages'); ?>
			</div>
			<div class="col s12 l9">
				<h4 class="page-heading"><?= __('Terms & Conditions'); ?></h4>
				<div class="card-panel p30" style="text-align: justify;">
					<p>
						<em>
							Настоящите общи условия уреждат начина на работа, правилата за
							използване на интернет сайта
						</em>
						<em>luxury</em>
						<em>-</em>
						<em>discounts</em>
						<em>.</em>
						<em>com</em>
						<em>
							и услугите предоставяни от “Луксури дискаунтс“ ООД чрез употребата му
							(интернет сайта и услугите нарични общо“услугите“).
						</em>
					</p>
					<p>
						<em>
							Препоръчително е да се запознаете с тези Общи условия внимателно преди
							да използвате предоставяните услуги на интернет сайта
						</em>
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						<em>, собственост и поддържан от “Луксури дискаунтс“ ООД.</em>
					</p>
					<p>
						<em>
							За да се възползвате от предлаганите услуги е необходимо приемането и
							спазването на тези Общи условия. Последните са приложими за всички
							посетители и потребители, които използват интернет сайта
						</em>
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						<em>
							(наричан за краткост „уебсайта“) и услугите предоставяни чрез него.
						</em>
					</p>
					<p>
						<em>
							Чрез резервирането или заплащането на хотелски нощувки, организирано
							туристическо пътуване (нарично още „екскурзия“) или създаването на
							профил в уебсайта, Вие приемате настоящите Общи условия и се
							задължавате да ги спазвате. Ако не сте съгласни с така описаните
							условия следва да прекратите използването на уебсайта и услугите
							свързани с него.
						</em>
					</p>
					<p>
						<em></em>
					</p>
					<p>
						За целите на тези Общи условия и съгласно българското законодателство:
					</p>
					<p>
						А) „Туристическа агентска дейност“ е извършването на посредничество при:
						продажби на организирани туристически пътувания с обща цена на крайни
						потребители; пасажерски авиационен, воден и автобусен превоз;
						резервационни, визови и други допълнителни туристически услуги, както и
						застраховки, свързани с туристическото пътуване;
					</p>
					<p>
						Б) „Туристически агент“ е лице, регистрирано по реда на Закона за Туризма
						или вписано в регистъра на туроператорите и туристическите агенти за
						извършване на туристическа агентска дейност;
					</p>
					<p>
						В) „Туристически ваучер“ е документ под отчет, удостоверяващ съществуването
						на договор между туроператора и туриста като потребител на организирано
						туристическо пътуване с обща цена или на продажбата на основна/и и/или
						допълнителна/и туристическа/и услуга/и;
					</p>
					<p>
						Г) „Резервационна бланка“ е документ под отчет, удостоверяващ
						съществуването на договор между туристическия агент и туриста като
						потребител на основна или допълнителна туристическа услуга, когато не са
						част от организирано туристическо пътуване с обща цена;
					</p>
					<p>
						Д) „Туристически продукт“ е съвкупността от специфични стопански дейности и
						природни и антропогенни условия и ресурси в рамките на определена
						територия, предлагани и потребявани от туриста по време на неговото
						пътуване.
					</p>
					<p>
						Е) „Потребител“ е всяко лице, което има достъп до уебсайта„
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						<em>“ и може да ползва съдържанието и функциите му, както и</em>
						да използва основни и допълнителни туристически услуги резервирани и
						закупени чрез уебсайта „
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						<em>“.</em>
					</p>
					<p>
						Ж) „Уебсайт“ е съвкупност от интернет страници, с обща заглавна интернет
						страница, която се зарежда във вашия браузър, при изписване на електронния
						адрес „
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						<em>“.</em>
					</p>
					<p>
						<strong>I. </strong>
						<strong>Luxury discounts</strong>
						<em></em>
					</p>
					<p>
						“Луксури дискаунтс“ ООД, с ЕИК 203538748, със седалище и адрес на
						управление:гр. гр. София, район Триадица, ж.к. "Гоце Делчев",
						ул."Славовица", бл. 53Е, вх. В, ет. 2, е регистриран туристически агент
						съгласно Закона за туризма с удостоверение за извършване на туристическа
						агентска дейност № PK-01-7550; издаден на 25.03.2016г.
					</p>
					<p>
						1.1. Услугата, която Ви предоставя “Луксури дискаунтс“ ООД чрез своята
						електронна платформа Ви дава достъп до ексклузивни оферти за хотелски
						нощувки и екскурзии, предвидени само за нашите членове/потребители/.
					</p>
					<p>
						1.2. “Луксури дискаунтс“ ООД дава възможност на лицата притежаващи профил в
						сайта (наричани още „потребители“ ) да правят резервации за хотелски
						нощувки и организирани туристически пътувания (наричани още „Туристически
						оферти“), предлагани на нашия уебсайт, които се предоставят от трети
						лица-доставчици на туристически услуги и продукти. Всички туристически
						оферти, които се предлагат чрез уебсайта са за хотелско настаняване освен
						ако не е ясно посочено в описнието към съответната оферта, че тя е за
						организирано туристическо пътуване( „екскурзия“ ). Всички показани на нашия
						уебсайт туристически оферти зависят от моментната наличност, поради което
						не гарантираме, че всичките ще останат достъпни за целия период от време,
						за който се предлагат.
					</p>
					<p>
						1.3. “Луксури дискаунтс“ ООД действа като туристически агент на
						доставчиците, които предоставят туристическите оферти поместени на нашия
						уебсайт. “Луксури дискаунтс“ ООД действа от името и за сметка на
						доставчиците на туристически продукти и услуги (Доставчици), като им
						предоставя възможността да се възползват от нашата електронната платформа,
						чрез която може да бъде сключен договор между Вас и доставчиците на
						туристически услуги и продукти. “Луксури дискаунтс“ ООД не извършва
						туроператорска дейност, нито предоставя основни или допълнителни
						туристически услуги.
					</p>
					<p>
						1.3.1. При извършена резервация чрез уебсайта, “Луксури дискаунтс“ ООД в
						качеството си на агент и посредник на Доставчика не е страна по сключения
						договор за предоставянето на туристическия продукт или услуга. Тези Общи
						Условия уреждат използването на електронната услуга базирана на уебсайта и
						предоставяна от “Луксури дискаунтс“ ООД, но всички туристически оферти,
						които закупувате са уредени съгласно сроковете и условията, посочени в
						описанието на офертата, която купувате, както и правилата и условията на
						доставчика, който я предоставя. Последните са на разположение за Вас в
						стъпките за резервация.
					</p>
					<p>
						1.3.2. Със закупуване на туристическа оферта от доставчик, Вие се
						съгласявате с настоящите Общи условия, както и с Общите условия на
						Доставчика приложими за закупената оферта. При закупуването на туристическа
						оферта чрез уебсайта се съгласявате, че сключвате договор директно с
						доставчика на закупения туристически продукт или услуга, както и че
						“Луксури дискаунтс“ ООД не е страна по това правоотношение.
					</p>
					<p>
						1.4. Тъй като действа като агент, “Луксури дискаунтс“ ООД не носи
						отговорност по никакъв начин за предоставяне на самата услуга от
						доставчика, нито носи каквато и да е отговорност за претърпени от Вас
						загуби настъпили във връзка със закупената туристическа оферта. Ако след
						закупуване на туристическа оферта, имате някакви въпроси или притеснения в
						тази връзка, е необходимо да се свържете директно с Доставчика на
						закупената от Вас услуга.
					</p>
					<p>
						<strong>ЦЕНИ НА ПРЕДЛАГАНИТЕ ТУРИСТИЧЕСКИ ОФЕРТИ</strong>
					</p>
					<p>
						2.1 Цената на всяка туристическа оферта е посочената на уебсайта, освен в
						случаите на очевидна грешка. Цената включва ДДС. Плащания се приемат с
						дебитна и кредитна карта или по банков път.
					</p>
					<p>
						2.2 Поради динамиката на пазара е възможно някоя от тези оферти да бъде
						посочена с неправилна цена. Ако коректната цена на туристическа оферта е
						по-малка от обявената цена, ние ще възстановим надплатената от Вас сума.
						Ако коректната цена на туристическата оферта е по-висока от цената,
						отбелязана в уебсайта, е възможно по наше усмотрение, да се свържем с Вас
						за допълнителни инструкции и потвърждение преди обработката на Вашата
						резервация, или да откажем Вашата резервация от името на Доставчика на
						услугата.
					</p>
					<p>
						2.3 В случаите, когато посочената на уебсайта цена на туристическа оферта е
						очевидно сгрешена и може ясно и предвидимо да бъде разпозната като невярна,
						Доставчикът не е длъжен да се съгласи да предостави закупената от Вас
						услуга на некоректната (по-ниска) цена, дори и след като сме Ви изпратили
						потвърждение за резервация.
					</p>
					<p>
						2.4 Цената на туристическите оферти може да се променя във времето в
						зависимост от натовареността на Доставчика на туристическата оферта и
						туристическия сезон, но промените не засягат вече платените и потвърдени от
						Доставчика резервации.
					</p>
					<p>
						<strong></strong>
					</p>
					<p>
						<strong>НАЧИН НА ПЛАЩАНЕ</strong>
					</p>
					<p>
						4.1. Съгласно настоящите Общи Условия и правилата за работа на “Луксури
						дискаунтс“ ООД, за да резервирате туристическа оферта чрез уебсайта, Вие
						заплащате цената ѝ директно на “Луксури дискаунтс“ ООД. Плащането Ви се
						приема от “Луксури дискаунтс“ ООД, което действа като агент на Доставчика
						на закупената от Вас услуга. Плащането се извършва чрез посочените в
						уебсайта методи. Необходимо е да заплатите цената на туристическата оферта,
						за да я резервирате за избраните от Вас дати.
					</p>
					<p>
						4.2. С извършването на резервация чрез уебсайта, Вие потвърждавате, че
						данните, които сте въвели за извършване на плащането, са верни и правилни.
						Ако някой от методите на плащане е отхвърлен, може да се свържем с Вас с
						искане за алтернативен метод на плащане или може да отменим резервацията
						Ви.
					</p>
					<p>
						4.3. Ако смятате, че неправилно сме Ви таксували чрез кредитната или
						дебитната Ви карта, e необходимо да се свържете с нас веднага. В случай, че
						установим, че размера на платената сума е сгрешен, ние ще възстановим
						сумата по кредитната или дебитната Ви карта.
					</p>
					<p>
						4.4. Ако сте платили с кредитна карта, се прилага такса за обработка. Тази
						такса за обработка, няма да бъде по-голяма от разходите ни за обработка на
						плащането. Размерът на таксата за обработка ще бъде посочен преди да
						заплатите за туристическа оферта чрез уебсайта.
					</p>
					<p>
						4.5. „Луксури дискаунтс“ ООД действа единствено като агент между
						потребителя и Доставчика на туристическата услуга, поради което не може да
						издаде фактура за заплатената от Вас туристическа оферта. Луксури
						дискаунтс“ ООД Ви предоставя потвърждение на резервацията, която може да се
						използва като разписка, тъй като показва, платена към момента на
						резервацията сума.
					</p>
					<p>
						<strong>ПОТРЕБИТЕЛСКИ ПРОФИЛ</strong>
					</p>
					<p>
						<strong></strong>
					</p>
					<p>
						5.1.Предлаганите на този уебсайт услуги са достъпни за Вас само, след като
						се регистрирате чрез създаването потребителски профил.
					</p>
					<p>
						5.1.1. Регистрацията на потребителски профил не е позволена за лица под 18
						(осемнадесет) годишна възраст.
					</p>
					<p>
						5.2. За да създадете профил е необходимо да предоставите адреса на Вашата
						електронна поща и да създадете индивидуална парола. Потребителски профил
						може да бъде регистриран в уебсайта също и чрез използване на Вашия личен
						профил в други уебсайтове за социални мрежи (facebook.com., google+,
						twitter etc.).
					</p>
					<p>
						5.2.1. В случай, че регистрирате профил на уебсайта чрез посочване на
						профила Ви в социална мрежа се съгласявате да предоставите достъп до
						информацията, която сте предоставили за ползване и на социалната мрежа,
						както и да съхраняваме вашият лог токен съгласно нашата политика на личните
						данни.
					</p>
					<p>
						5.3. В случаите, в които използвате Вашата електронна поща за създаването
						на профил, Ви съветваме да използвате надеждни пароли, които да съдържат
						най-малко комбинация от главни и малки букви, числа и символи. Вие носите
						отговорност за запазването в тайна на Вашата парола. Ако имате каквито и да
						било съмнения за чужда намеса или употреба на профила Ви се свържете
						веднага с нас за съдействие.
					</p>
					<p>
						5.4. В случай, че нарушите тези Общи Условия, администраторът на уебсайта
						има правото да се възползва от кои да е от следните възможности: а) блокира
						достъпа Ви до уебсайта; б) да прекрати използването Ви на уебсайта; в) да
						изтрие потребителския Ви профил; г) самостоятелно или съвместно с доставчик
						на туристическа услуга, да откаже предоставянето туристическата услуга;.
					</p>
					<p>
						<strong>РЕЗЕРВАЦИЯ НА ТУРИСТИЧЕСКИ ОФЕРТИ</strong>
					</p>
					<p>
						6.1.Реда и стъпките за резервиране и заплащане на туристическа оферта са
						посочени на уебсайта. С резервирането на туристическа оферта чрез уебсайта
						се съгласявате да я заплатите.
					</p>
					<p>
						6.2. По време на резервацията, ще имате възможност да проверите за грешки
						или погрешно посочена информация, както и да направите промени преди да
						потвърдите вашата резервация.
					</p>
					<p>
						6.3. Съветваме Ви преди да направите резервация, да се уверите, че Вие (и
						вашите спътници) отговаряте на условията и изискванията на всяка
						Туристическа оферта и имате възможност да пътувате на датите, които сте
						избрали за съответната Туристическа оферта.
					</p>
					<p>
						6.4. Ако Вие или вашите спътници имате някакви специални изисквания, трябва
						да ги отбележите по време на регистрационния процес. „Луксури дискаунтс“
						ООД се ангажира да уведоми Доставчика за всяко основателно искане от Ваша
						страна, но не може да гарантира изпълнението му от страна на Доставчиците
						на туристически услуги.
					</p>
					<p>
						6.5. Преди да направите резервацията си е необходимо да ни уведомите, в
						случай че Вие или Вашия спътник имате особени медицински или здравни
						изисквания, които могат да се отразят на резервацията Ви, за да можем да
						съобразим дали Туристическaтa оферта е подходяща за Вас.
					</p>
					<p>
						6.6. Всяка една резервация, която правите е необходимо да бъде одобрена от
						Доставчика на туристически услуги. В качеството ни на туристически агент на
						Доставчика, ще Ви изпратим имейл за потвърждение на резервацията Ви.
					</p>
					<p>
						6.7.1. Договорът между Вас и Доставчика на туристически услуги ще се счита
						сключен, след като Ви изпратим потвърждение на резервацията Ви, в
						качеството ни на туристически агент на Туристическия Доставчик. Ще бъдете
						таксувани според избрания от Вас метод за плащане, след одобрение на
						резервацията Ви.
					</p>
					<p>
						6.7.2.След като резервацията Ви бъде обработена, ще получите нов имейл от
						Доставчика на туристическата оферта, съдържащ детайлите на закупената
						туристическа оферта, включително описание на останалата необходима
						документация, която може да бъде изискана при резервиране на екскурзия
						(организирано туристическо пътуване) или други туристически услуги
						предоставяни от Доставчика.
					</p>
					<p>
						6.8. Необходимо е контактите за връзка с Вас, които предоставяте да са
						актуални и достоверни. Ние или Доставчикът на закупената от Вас
						туристическа оферта може да се свържем с Вас, ако това е необходимо, за да
						бъде успешно изпълнена закупената туристическа оферта. „Луксури дискаунтс“
						ООД не носи отговорност ако поради неспазване на задълженията Ви по тази
						точка не може да се възползвате от закупената от Вас туристическа оферта.
					</p>
					<p>
						6.9. След като резервацията Ви бъде потвърдена от Доставчика на
						туристическата оферта и сте получили потвърждението чрез нас, в качеството
						ни на агент на Доставчика на туристическата оферта, заплатили сте успешно
						туристическата оферта, ще Ви изпратим имейл, в зависимост от вида на вашата
						резервация.
					</p>
					<p>
						6.9.1. При закупуване на туристическа оферта, която включва единствено
						хотелски нощувки, ще получите потвърждение по имейл, представляващо Вашата
						Резервационна бланка и посочващо детайлите на резервацията Ви, както и
						контакти и информация за Доставчика на туристическата оферта. Този имейл
						потвърждава, закупуването на избраната от Вас оферта и съдържа
						информацията, която Ви е необходима за туристическата оферта.
					</p>
					<p>
						6.9.2. При резервация на организирано туристическо пътуване ще получите
						потвърждение по имейл, съдържащо подробна информация за туристическата
						оферта и Доставчика, който я предоставя. Този имейл не е окончателно
						потвърждение на резервацията Ви и не съдържа цялата информация, необходима
						за пътуването. Доставчикът (Туроператор или съответното чуждестранно
						дружество регистрирано и отговарящо на изискванията за извършване на
						подобна дейност) на туристическата оферта, ще Ви изпрати допълнителен
						имейл, съдържащ Вашия туристически ваучер и всякаква допълнителна
						информация, касаеща пътуването Ви, както и останалите стъпки или
						информация, необходими за завършване на резервацията Ви.
					</p>
					<p>
						6.9.3. Съгласно точка 6.9.2., имейлът изпратен от „Луксури дискаунтс“ ООД
						потвърждава само плащането на туристическата оферта и информация за датите
						на резервацията Ви, както и информация, че Доставчикът на туристическата
						оферта ще се свърже с Вас. Това не означава, че Доставчика на екскурзията я
						е потвърдил.
					</p>
					<p>
						6.9.4. В случай че Доставчик на туристическа оферта не потвърди Вашата
						резервация, например поради липса на свободни места за избраните от Вас
						дати или поради грешно посочена на уебсайта цена, ние ще ви уведомим, че
						резервацията Ви е отказана. „Луксури дискаунтс“ ООД ще се свърже с
						Доставчика на туристическата оферта и ще уреди възстановяването на
						платените от Вас суми.
					</p>
					<p>
						6.10. При получаване на информация относно закупената от Вас туристическа
						оферта, е необходимо да проверите още веднъж, че личните данни, които сте
						посочили са коректни. Например имената, възрастта Ви и пр. отговарят на
						тези в документа Ви за самоличност. Ако установите несъответствие, моля да
						се свържете с Доставчика на туристическата оферта при първа възможност.
					</p>
					<p>
						6.11. Луксури дискаунтс“ ООД не носи отговорност в случай че билетите и/или
						пътни документи, информация, без която не можете да се възползвате от
						закупената туристическа оферта не Ви бъдат доставени по имейл или поща.
						Моля свържете се директно с Доставчикa, посочен в имейл известието, ако не
						получите съответните документи.
					</p>
					<p>
						6.12.1. Условията по вече заплатени туристически оферти не могат да бъдат
						променяни от потребителя, както и заплатените от него суми не подлежат на
						връщане от „Луксури дискаунтс“ ООД или Доставчика на закупената
						туристическа оферта, освен ако това не е посочено в условията на
						туристическата оферта поместена на уебсайта. Настоящата точка не се прилага
						в случаите на точка 6.9.4 от настоящите Общи условия.
					</p>
					<p>
						6.12.2. В случаите по точка 6.12.1., „Луксури дискаунтс“ ООД по свое
						усмотрение, може да Ви окаже съдействие пред Доставчика на туристическата
						оферта, за да се извършат исканите от Вас промени, но не се ангажира, че
						Доставчикът ще даде съгласието си. „Луксури дискаунтс“ ООД не носи
						отговорност, ако бъдете таксувани допълнително, в случай че Доставчикът се
						съгласи на исканите промени.
					</p>
					<p>
						6.13. При извършени, от страна на Доставчика незначителни промени в
						условията на туристическата оферта, която сте закупили, ще бъдете уведомени
						за това от нас или Доставчика на туристическата оферта, която сте закупили.
						Това не спира изпълнението на туристическата оферта.
					</p>
					<p>
						6.14.1. В случай че преди началото на резервацията Ви, Доставчикът на
						туристическата оферта спре изпълнението ѝ или направи значителни промени в
						съдържанието на първоначално предвидените условия, ако разполагаме с
						подобна информация, ще Ви уведомим за това при първа възможност.
					</p>
					<p>
						6.14.2. В случаите по точка 6.14.1. ние ще положим разумни усилия да
						договорим с Доставчика на закупената от Вас туристическа оферта кой да е от
						следните алтернативни варианти, като не гарантираме, че същите ще са винаги
						възможни, поради необходимото съдействие на Доставчика:
					</p>
					<p>
						6.14.2.1.Да приемете извършените промени;
					</p>
					<p>
						6.14.2.2. При резервации само за хотелски нощувки, да се откажете от
						резервацията си, като Ви бъдат възстановени всички платени суми или да
						приемете друго сходно предложение, като Ви бъде възстановена разликата или
						бъдат извършени съответните доплащания от Ваша страна;
					</p>
					<p>
						6.14.2.3. При закупено организирано туристическо пътуване, да се откажете
						от договора, като Ви бъдат възстановени платените суми или да приемете
						алтернативно предложение от Доставчика на туристическата оферта. Ако
						алтернативното предложение е с по-ниска цена, ще Ви бъде възстановена
						разликата, съответно ако цената е по-висока, е необходимо да бъде доплатена
						от Вас;
					</p>
					<p>
						6.15. В случаите по точка 6.14.1. и 6.14.2. „Луксури дискаунтс“ ООД не носи
						каквато и да е отговорност за претърпени от Вас вреди или загуби.
					</p>
					<p>
						6.16. „Луксури дискаунтс“ ООД предлага услугата "изчакване", достъпна за
						някои от туристическите оферти предлагани на уебсайта. Тази услуга
						предоставя възможност на потребителя да заплати таксаза да запази
						определена дата за съответната туристическа оферта. Запазването на
						определена дата не представлява резервация, ами не позволява на други
						потребители на уебсайта да резервират същата дата и да изчерпат свободните
						места за избраната от потребителя оферта. Услугата „изчакване“ не е депозит
						за цената на туристическата оферта и не означава потвърждение на
						туристическата оферта.
					</p>
					<p>
						6.17.1 В случай, че потребител се е възползвал от услугата по чл.6.16, но
						не заплати резервацията си в предвидения за офертата срок, платената такса
						не подлежи на връщане.
					</p>
					<p>
						6.17.2. В случай, че потребител се е възползвал от услугата по чл.6.16, но
						Доставчикът на избраната туристическа оферта прекрати предлагането ѝ на
						уебсайта, „Луксури дискаунтс“ ООД ще възстанови платената по горния член
						сума в пълен размер, използвайки избрания от потребителя на чин на плащане.
					</p>
					<p>
						6.18. В случай, че условията за конкретната туристическа оферта посочени на
						уебсайта противоречат на настоящите Общи условия, предимство има посоченото
						в офертата на уебсайта. Посочените условия на уебсайта за конкретна оферта
						имат действие само за нейния срока на валидност.
					</p>
					<p>
						<strong>ВЪЗСТАНОВЯВАНЕ НА СУМИ И ОТКАЗ ОТ РЕЗЕРВАЦИИ</strong>
					</p>
					<p align="center">
						<strong> </strong>
					</p>
					<p>
						<strong>7</strong>
						.1. В случай, че потребител има платена резервация за хотелски нощувки
						и/или допълнителни туристически услуги извършена чрез уебсайта, а
						Доставчикът на туристическата оферта, откаже да изпълни договора, тогава
						следва да възстанови на потребителя платените от него суми в пълен размер.
					</p>
					<p>
						7.2. Когато Туроператорът предоставящ съответното организирано туристическо
						пътуване промени значително някоя от основните клаузи на договора, или
						откаже да изпълни договора, потребителят може да се откаже от договора без
						да дължи неустойка или обезщетение. В тези случаи отношенията между
						потребителя и туроператора се уреждат по между им, а „Луксури Дискаунтс
						ООД“ може да укаже съдействие за уреждане им.
					</p>
					<p>
						7.3.1<strong>. </strong>В случай на отказ от страна на потребителя от
						резервация за хотелски нощувки и други туристически услуги, извършена чрез
						уебсайта, платените суми не подлежат на връщане от страна на „Луксури
						Дискаунтс ООД“ или Доставчика на закупената туристическа оферта, освен ако
						правото на отказ не е изрично предвидено в условията на конкретната оферта.
					</p>
					<p>
						7.3.2. Ако потребителят има предоставена възможност да се откаже от
						заплатена резервация, съгласно чл.7.3.1.., Доставчикът на закупената
						туристическата оферта може да удържи неустойки, съгласно условията на
						офертата.
					</p>
					<p>
						7.4.1<strong>. </strong>В случай на отказ от страна на потребителя от
						договор за организирано туристическо пътуване, сключен чрез уебсайта,
						платените суми не подлежат на връщане, а в случай, че подлежат,
						възстановяването се извършва съгласно правилата и условията на
						туроператора, който предоставя съответното организирано туристическо
						пътуване.
					</p>
					<p>
						7.4.2. В случаите по горната точка, потребителят следва да контактува и да
						се договори директно с туроператора, предоставил организираното
						туристическо пътуване.
					</p>
					<p>
						<strong>НЕПРЕОДОЛИМА СИЛА</strong>
					</p>
					<p>
						8. „Луксури дискаунтс“ ООД не носи отговорност за претърпени загуби от
						потребителите и ползвателите на туристически услуги, закупени чрез
						уебсайта, в случай на непреодолима сила продължила повече от 20 (двадесет)
						дни. Под непреодолима сила се разбират такива събития и действия от
						извънреден характер, като: война, блокада, природни бедствия, ембарго,
						стачки, правителствени и административни ограничения, и други подобни
						събития и действия, които са непредвидими и непредотвратими от „Луксури
						дискаунтс“ ООД, Доставчика на туристическата оферта или ползвателя на
						услугата, и са възникнали след извършването на резервацията.
					</p>
					<p>
						<strong>ПРЕДОСТАВЕНА ИНФОРМАЦИЯ</strong>
					</p>
					<p>
						9.1.„Луксури дискаунтс“ ООД може да предостави обща информация за
						паспортни, гранични или други изисквания за получаване на право на достъп
						до съответната държава, свързани с пътуването Ви. Ваша отговорност е да
						проверите конкретните паспортни, гранични или други изисквания за
						получаване на право на достъп до съответната държава, както и съответните
						проверки с посолства и/или консулства. Всякаква информация, предоставена от
						„Луксури дискаунтс“ ООД за гореспоменатите или свързани с тях въпроси (като
						например облекло, багаж, лични вещи и т.н.) следва да се счита като
						примерна и препоръчителна , но „Луксури дискаунтс“ ООД не носи отговорност
						за каквито и да е неблагоприятни последици претърпени от Вас или решения,
						взети въз основа на предоставената информация.
					</p>
					<p>
						9.2. Ваше задължение е да се убедите, че вие и всички ваши спътници
						отговаряте на всички изисквания за допускане в съответната държава, както и
						че притежавате всички необходими документи и разрешителни преди пътуването
						Ви. Нито ние, нито Доставчиците на туристически оферти, носят отговорност,
						ако не можете да се възползвате от закупената от Вас туристическа оферта,
						поради някоя от гореспоменатите причини. Моля, уверете се, че разполагате с
						всички необходими документи и разрешителни, паспорти, лични карти, визи,
						или застрахователни документи, както и че сте предвидили достатъчно време
						за проверка на летището преди полета Ви.
					</p>
					<p>
						<strong>ДРУГИ УСЛОВИЯ</strong>
					</p>
					<p>
						10. Нищожността на някоя клауза от настоящите Общи Условия или на
						допълнително уговорени условия не води до нищожност на друга клауза или
						условие или на Общите условия като цяло.
					</p>
					<p>
						11. За въпросите, неуредени с този договор, се прилага действащото
						законодателство в Република България.
					</p>
					<p>
						12. При възникнали спорове по тълкуване и прилагане на настоящите Общи
						условия, или претенции от страна на потребителя, същите се решават по
						взаимно съгласие между страните. В случай на непостигане на съгласие,
						всички спорове, породени от Общите условия или отнасящи се до тях,
						включително споровете, породени или отнасящи се до тяхното тълкуване,
						недействителност, изпълнение или прекратяване, както и споровете за
						попълване на празноти в Общите условия или приспособяването им към
						нововъзникнали обстоятелства, ще бъдат разрешавани според реда предвиден
						съгласно българското законодателство.
					</p>
					<p>
						13. Съдържанието на уебсайтa
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						, уеб дизайна, всяко негово меню, категория или подкатегория, секция или
						подсекция, начина на подредба и структуриране на информацията, бази данни,
						и софтуерни системи са изключителна собственост на „Луксури дискаунтс“ ООД
						и са защитени съгласно Закона за авторското право, и сродните му права.
						Всяко споделяне, публикуване, размножаване и продажба на информация и
						снимков материал от сайтa
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						<em> </em>
						под каквато и да е форма, без изричното съгласие на „Луксури дискаунтс“ ООД
						е забранено и представлява закононарушение.
					</p>
					<p>
						14. Потребител няма право да запаметява, копира или възпроизвежда сорс
						кода, части, елементи или материали от уебсайта
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						<em> </em>
						без изричното предварително съгласие на „Луксури дискаунтс“ ООД.
					</p>
					<p>
						15. Потребителят се съгласява, че няма да изпраща или прехвърля по какъвто
						и да било начин уебсайта
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						, данните или съдържанието му на друг компютър, сървър, уеб страница или
						друга среда за масова употреба, както и че няма да ги използва с търговска
						цел.
					</p>
					<p>
						16. Потребителят се задължава да не използва устройство или софтуер, с
						който да опитва да се намесва в правилното функциониране на този уебсайт.
						Използването на уебсайта по начин, който не е упоменат в настоящите Общи
						условия може да доведе до нарушаване на закона за авторското право,
						търговската марка добрите нрави и търговски практики или други закони,
						свързани с интелектуалната собственост. Не е позволена промяната,
						скриването или заличаването на обозначенията за авторско право.
					</p>
					<p>
						17. Потребителят носи отговорност за всички щети, настъпили в резултат на
						нарушаване на авторско право, търговска марка или други права на
						собственост, както и други вреди, настъпили в резултат на използването на
						уебсайтa
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						.
					</p>
					<p>
						<strong></strong>
					</p>
					<p>
						<strong>ПОЛИТИКА ЗА ЛИЧНИТЕ ДАННИ</strong>
					</p>
					<p>
						18. Лъкшъри Дискаунтс ООД е собственик и оператор на уебсайта
						<a href="http://www.luxury-discounts.com/">
							<em>www</em>
							<em>.</em>
							<em>luxury</em>
							<em>-</em>
							<em>discounts</em>
							<em>.</em>
							<em>com</em>
						</a>
						. Лъкшъри дискаунтс ООД е регистриран администратор на лични данни съгласно
						Закон за защита на личните данни.
					</p>
					<p>
						19. Лъкшъри Дискаунтс ООД полага необходимите усилия за защита на личните
						данни, които предоставяте, във връзка с използването на предлаганата
						услуга. Тази глава указва за какво Лъкшъри Дискаунтс ООД ще използва вашите
						лични данни и на кого могат да бъдат предоставяни, след като те са били
						събрани чрез интернет страницата ни или по друг упоменат начин. „Луксури
						Дискаунтс“ ООД ще използва вашите данни, само за целите описани в общите
						условия. Посочените цели, за които е необходима предоствената от Вас
						информация не са изчерпателно изброени. „Луксури Дискаунтс“ ООД обработва и
						съхранява предоставената от Вас информация в обезопасена софтуерна среда.
					</p>
					<p>
						20. „Луксури Дискаунтс“ ООД поема задължението да не разкрива по никакъв
						начин предоставена лична информация от потребителя и да не предоставя
						събраната информация на трети лица – физически или юридически лица,
						държавни органи и други, освен в случаите когато: а) е получило изричното
						съгласие на потребителя при регистрацията или в по-късен момент; или б)
						информацията е изискана от държавни органи или длъжностни лица, които
						според действащото законодателство са оправомощени да изискват и събират
						такава информация при спазване на законово установените процедури; или в)
						други посочени в закона или настоящите общи условия случаи.
					</p>
					<p>
						21. С приемане на настоящите Общи условия, потребителят се съгласява да
						предостави изискваните лични данни за целите на извършваната чрез уебсайта
						услуга, които ще бъдат обработвани съгласно посочения ред.
					</p>
					<p>
						22. Извършваните действия на потребителя в уебсайта (посещавани оферти,
						харесвани оферти, задавани въпроси, коментари) и информацията за закупените
						от него оферти (дестинации, цени, дати, условия в офертата, общо спестена
						сума) винаги могат да бъдат използвани от „Луксури Дискаунтс“ ООД за целите
						на директния маркетинг.
					</p>
					<p>
						23. Уведомяваме Ви, че за успешното завършване на Вашата резервация и
						закупуването на избрания от Вас туристически продукт или услуга, ще е
						необходимо да предоставите вашите имена, пол, адрес на електронна поща и
						телефон, както и друга информация, в случай, че е необходима за вашата
						резервация (например номер и дата на издаване на паспорт или лична карта,
						единен граждански номер, включително за хората във вашата група). Тази
						информация е необходима, за да можем да обработим Вашата резервация и може
						да бъде предоставена на лицата, които предоставят закупения от Вас продукт
						или услуга (като например туроператори, хотели, авиокомпании, публични
						органи като митниците и имиграционни служби, ако е необходимо, и т.н.). В
						зависимост от избраната от Вас дестинация, гореспомената лична информация
						може да бъде предоставяна при необходимост извън Европейското икономическо
						пространство ("ЕИП"), за което Вие сте дали съгласието си (и съгласието на
						тези, включени в групата си) с приемането на тези общи условия.
					</p>
					<p>
						24. Когато правите резервация чрез нашия сайт, вие ще бъдете пренасочени
						към страницата на плащане, където можете да въведете данните си за плащане.
						Ние не съхраняваме информация за вашите плащания, като например номера на
						кредитните Ви карти. Платформата за плащане, която използваме обработва
						информацията, необходима за извършване на съответното плащане при
						резервация. След като получим плащането Ви по наша сметка, извършваме
						съответните плащания към доставчика на вашия туристически продукт или
						услуга закупен чрез уебсайта ни.
					</p>
					<p>
						25. С приемането на общите условия на „Луксури Дискаунтс“ ООД, потребителят
						разрешава в потребителските му профили на уебсайта, Facebook, Google+, или
						където и да било другаде във виртуалното пространство, или на обявения от
						него e-mail адрес, да му бъдат изпращани лични, рекламни или други
						търговски съобщения от търговците, с които „Луксури Дискаунтс“ ООД си
						сътрудничи във връзка с предоставяната услуга, както и „Луксури Дискаунтс“
						ООД да предоставя на търговците: имена и e-mail адрес на потребителя,
						когато е закупил туристически услуги и продукти или други услуги.
					</p>
					<p>
						26. За осъществяване на достъп до уебсайта чрез мобилно устройство или при
						използване на приложението на „„Луксури Дискаунтс“ ООД за мобилни
						устройства, потребителят се съгласява и разрешава на „Луксури Дискаунтс“
						ООД да събира данни за неговото текущо местонахождение, които могат да
						бъдат използвани с цел предлагането на близки оферти, съобразно неговите
						предпочитания изявени чрез електронната платформа.
					</p>
					<p>
						27. Друга информация, която може да получаваме е информация за устройството
						Ви, което използвате, за да се свързвате с нашия уебсайт. Тази информация
						може да съдържа данни за вида на устройството, вашият IP адрес или
						телефонен номер на устройството Ви, уникални идентифициращи номера на
						устройството, операционни системи, браузъри и приложения, свързани към
						нашия сайт, които се използват от устройството Ви, Вашият доставчик на
						интернет услуги или мобилна мрежа.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
