@import 'font-awesome/font-awesome';
@import 'material-design-icons/material-design-icons';
@import 'website-components/colors';
@import 'website-components/mixins';
@import 'website-components/helpers';

body {
	background-color: lighten(@light-blue-50, 5%);
}

html {
	overflow-y: auto;
	overflow-x: hidden;
}

.picker {
	&__box,
	&__wrap {
		display: flex;
		@media only screen and (max-width: 992px) {
			display: block;
		}
	}

	&__box {
		border: 1px solid @blue-800;
		.border-radius(15px);
	}

	&__day--infocus {
		line-height: 1;
	}

	&__footer {
		display: none;
		visibility: hidden;
	}
}

.btn-social .fa {
	padding-right: 10px;
	vertical-align: top;
}

.white-text .select-wrapper span.caret {
	color: white;
}

#language-form,
#currency-form {
	&, * {
		.no-select();
	}

	.input-field {
		input.select-dropdown {
			margin: 0;
			height: 80px;
			padding: 0 40px 0 20px;
			text-transform: uppercase;
			border-bottom: none;
			text-align: center;
		}

		.dropdown-content.select-dropdown {
			top: 100% !important;
			left: auto !important;
			right: 0 !important;
		}
	}

	.select-wrapper {
		span.caret {
			top: 0;
			right: 0;
			font-size: 0;
			&:before {
				&:extend(.material-icons);
				content: 'keyboard_arrow_down';
				line-height: 10px;
			}
		}
	}
}

#language-form {
	.input-field {
		input.select-dropdown {
			width: 100px;
		}

		.dropdown-content.select-dropdown {
			width: 220px !important;
			img {
				float: none;
				height: auto;
				width: 40px;
				display: inline-block;
				vertical-align: middle;
				.z-depth-1();
				+ span {
					display: inline-block;
					vertical-align: middle;
					padding-left: 0;
				}
			}
		}
	}
}

#currency-form {
	.input-field {
		input.select-dropdown {
			width: 30px;
		}
	}
}

.page-subheader {
	margin: 0 0 1rem;
	nav {
		background: white;
	}

	nav,
	nav .nav-wrapper i,
	nav a.button-collapse,
	nav a.button-collapse i {
		height: 45px;
		line-height: 45px;
	}

	.container {
		padding-left: 145px;
		@media only screen and (max-width: 992px) {
			& {
				padding-left: 0;
			}
		}
	}

	.breadcrumb {
		color: @grey-900;
		font-size: 16px;
		&:before {
			color: #9e9e9e;
			font-size: 24px;
		}

		&:last-child {
			color: @grey-900;
		}
	}

	+ .page-alerts {
		margin: -1rem 0 0;
	}
}

.page-alerts {
	&:empty {
		display: none;
	}

	.alert,
	.container {
		position: relative;
	}

	.close {
		position: absolute;
		top: 50%;
		right: 0;
		left: auto;
		bottom: auto;
		line-height: 40px;
		width: 40px;
		height: 40px;
		.transform(translate3d(0,-50%,0));
		&.btn-floating {
			&:hover {
				background: rgba(0, 0, 0,.3);
			}
		}

		i {
			line-height: 40px;
		}

		+ * {
			padding-right: 50px;
			@media only screen and (max-width: 768px) {
				& {
					text-align: left;
				}
			}
		}
	}
}

.page {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	min-height: 94vh;
}

.page-heading {
	font-weight: 300;
	text-align: center;
	margin: 3rem 0;
	font-size: 2.2rem;
}

.body-wrap {
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	background-color: #eceff1;
}

#header-main {
	nav,
	nav .nav-wrapper i,
	nav a.button-collapse,
	nav a.button-collapse i {
		height: 80px;
		line-height: 80px;
	}

	.brand-logo {
		font-size: 0;
		line-height: 0;
		vertical-align: top;
		.logo-header {
			display: inline-block;
			vertical-align: top;
			width: auto;
			position: relative;
			margin: -22px 0 0;
			padding: 8px;
			z-index: 1;
			background: @primary-color;
			.border-radius(50%);
		}

		.logo-header-text {
			display: inline-block;
			vertical-align: top;
			width: auto;
			margin: 20px 15px;
		}

		@media only screen and (max-width: 1200px) {
			& {
				display: table;
				left: 0;
				.transform(~'none');
				.logo-header,
				.logo-header-text {
					display: table-cell;
					vertical-align: middle;
					margin: 0;
					padding: 10px;
				}

				.logo-header {
					img {
						max-width: 60px;
					}
				}

				.logo-header-text {
					img {
						max-width: 120px;
					}
				}
			}
		}
	}

	.main-nav {
		text-transform: uppercase;
		a:hover,
		li.active {
			background: desaturate(@primary-color-light, 35%);
		}

		a {
			padding: 0 20px;
			@media only screen and (max-width: 1400px) {
				& {
					padding: 0 10px;
				}
			}
		}

		@media only screen and (max-width: 1200px) {
			& {
				display: none;
				visibility: hidden;
			}
		}
	}
}

/* Home Search Cell Component */
.home-search {
	&--spring {
		background-color: lighten(@green-50, 4%);
	}

	&--summer {
		background-color: lighten(@amber-50, 4%);
	}

	&--fall {
		background-color: lighten(@orange-50, 2%);
	}

	&--winter {
		background-color: lighten(desaturate(@light-blue-50, 50%), 2%);
		background-image: url('/assets/dist/img/component/home-search-cell/logo_waves.svg');
		background-position: left -450px bottom -450px;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}

	&__form {
		padding: 0;
		position: relative;
		.btn-large {
			height: 60px;
			line-height: 60px;
		}

		.input-field {
			margin: 0 18px;
			input {
				margin: 0;
				border: none;
			}
		}

		&__calendar {
			&-toggle {
				.btn-large {
					padding: 0 18px;
					.border-radius(3px 0 0 3px);
					img {
						margin: 12px 0;
					}
				}
			}

			&-holder {
				position: absolute;
				top: 100%;
				left: 0;
				right: auto;
				bottom: auto;
				width: 100%;
				height: auto;
				margin: 10px 0 0;
				padding: 0;
				z-index: 100000;
				display: none;
				overflow: hidden;
			}

			&-box {
				.picker {
					&__date-display,
					&__footer,
					&__input {
						display: none;
						visibility: hidden;
					}

					&,
					&__holder,
					&__frame {
						position: relative;
						display: inline-block;
						vertical-align: top;
						width: 100%;
						background: none;
						margin: 0;
						padding: 0;
						.opacity(~'1 !important');
						.transform(~'none !important');
					}

					&__box {
						border: none;
						.box-shadow(~'none !important');
					}

					&__table {
						margin: 0 0 1rem;
					}

					&__day--infocus {
						padding: 1rem 0;
					}

					&--focused &__day--selected,
					&__day--selected,
					&__day--selected:hover {
						margin: 0 auto;
						padding: 0;
						width: 2.3rem;
						height: 2.3rem;
						line-height: 2.3rem;
						.transform(~'none !important');
					}

					&--focused &__day--disabled,
					&__day--disabled,
					&__day--disabled:hover {
						background: #f5f5f5;
						border-color: #f5f5f5;
						color: #ddd;
						cursor: default;
					}
				}
			}

			&-label {
				display: inline-block;
				vertical-align: top;
				width: 100%;
			}
		}

		&__action {
			.btn-large {
				.border-radius(0 3px 3px 0);
			}
		}
	}

	&__sales {
		position: relative;
		max-width: 320px;
		margin: 0 auto 50px;
		&-item {
			&--shuffled {
				position: absolute;
				top: 0;
				left: 0;
				right: auto;
				bottom: auto;
				.transform-origin(~'50% 100%');
				&:hover {
					z-index: 100;
				}
			}

			.card-title {
				font-family: 'Roboto Slab', sans-serif;
			}
		}
	}
}

/* Home Featured Cell Component */
.home-featured {
	&__placeholder {
		width: 670px;
		&-image {
			position: relative;
			width: 100%;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url('/assets/dist/img/component/home-featured-cell/tuylenovo-ptosry6v2.png');
			.border-radius(3px);
			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 0;
				overflow: hidden;
				padding-top: 75%;
			}
		}

		&-description {
			padding: 1rem;
			a {
				text-decoration: underline;
			}
		}
	}

	.card {
		.card-image {
			height: 0;
			overflow: hidden;
			padding: 28.125% 0;
			margin: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			.transition(~'all 0.5s ease-out');
		}

		.card-title {
			font-family: 'Roboto Slab', sans-serif;
		}
	}
}

/* Home Account Cell Component */
.home-account {
	background-image: url('/assets/dist/img/component/home-account-cell/photo-1469796466635-455ede028aca.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	&__tabs {
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		.z-depth-2();
		.simple-gradient(fadeout(#11192d, 5%),fadeout(#030408, 5%));
		.border-radius(6px);
		.transition(~'box-shadow 0.25s');
		&:hover {
			.z-depth-5();
		}
		.tabs {
			background: transparent;
			padding: 0;
			margin: 0;
			height: auto;
			.border-radius(6px 6px 0 0);
			.indicator {
				background: @blue-800;
			}

			.tab {
				height: auto;
				a {
					color: @grey-400;
					padding: 12px 24px;
					font-size: 18px;
					font-weight: 300;
					&:active {
						color: @blue-800;
					}

					&.active {
						color: white;
					}
				}
			}
		}
	}
	&__form {
		background: transparent;
		padding: 40px;
		display: none;
		.border-radius(0 0 6px 6px);
		&.active {
			display: block;
		}
		.input-field-bg {
			margin: 0;
			padding: 3px 12px;
			background: white;
			.border-radius(3px);
			input, .input-field {
				margin: 0;
				padding: 0;
				border: none;
			}

			label.active {
				.opacity(0);
			}
		}
	}

	&__sales {
		position: relative;
		max-width: 320px;
		margin: 0 auto;
		&.carousel {
			overflow: visible;
			height: 500px;
			padding: 0;
			margin: 0 auto;
			&, * {
				.no-select();
			}
		}

		&-item {
			&.carousel-item {
				min-width: 280px;
				padding: 0;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: auto;
				bottom: auto;
				&.active {
					.card-image {
						padding: 28.125% 0;
						margin: 0;
					}
				}
			}

			.card-image {
				height: 0;
				overflow: hidden;
				padding: 0;
				margin: 14% 0;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				will-change: padding, margin;
				.transition(~'all 0.5s ease');
				.transform(~'translate3d(0, 0, 0)');
				@media only screen and (max-width: 768px) {
					& {
						padding: 28.125% 0;
						margin: 0;
					}
				}
			}

			.card-title {
				font-family: 'Roboto Slab', sans-serif;
			}
		}
	}
}

.sidenav-left,
.sidenav-right {
	margin: 1rem 0 1.5rem;
}

.sidebar-nav .collection {
	border: none;
	margin: -20px;
}

.item-listing {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 15px 0;
	.item-sale {
		overflow: hidden;
		background-size: cover;
		background-position: top center;
		background-color: white;
		.border-radius(3px);
		.link-wrap {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			cursor: pointer;
			z-index: 1;
			.transition(~'all 0.3s ease-in-out');
			&:hover {
				background-color: rgba(255, 255, 255, 0.3);
			}
		}
	}
}

/* Sales Filter Component */
.sales-filter {
	text-align: center;
	&__form {
		padding: 0;
		position: relative;

		.input-field {
			margin: 0 18px;
			input {
				margin: 0;
				border: none;
			}
		}

		&__calendar {
			&-toggle {
				.btn-large {
					padding: 0 18px;
					.border-radius(3px 0 0 3px);
					img {
						margin: 12px 0;
					}
				}
			}

			&-holder {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				max-width: 300px;
				height: auto;
				margin: 10px 0 0;
				padding: 0;
				&.carousel {
					height: 500px;
					overflow: hidden;
					@media only screen and (max-width: 768px) {
						& {
							height: 440px;
						}
					}

					&, * {
						.no-select();
					}

					.indicators {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: auto;
						padding: 0;
						font-size: 0;
						pointer-events: none;
						.indicator-item {
							width: auto;
							height: auto;
							font-size: 0;
							line-height: 0;
							background: white;
							border: none;
							vertical-align: top;
							pointer-events: all;
							padding: 9px;
							margin: 0;
							.border-radius(~'none');
							.transition(~'all 0.8s ease-out 0.2s');
							&:before {
								&:extend(.material-icons);
								content: 'lens';
								color: @grey-400;
								font-size: 12px;
								.transition(~'all 0.2s ease-out');
							}

							&:hover {
								&:before {
									color: @blue-800;
								}
							}

							&.active {
								&:before {
									color: @blue-800;
								}
							}

							&:first-child {
								color: @primary-color;
								float: left;
								&:before {
									font-size: 24px;
									content: 'today';
								}
							}

							&:last-child {
								color: @primary-color;
								float: right;
								&:before {
									font-size: 24px;
									content: 'today';
									.transform(~'scaleX(-1)');
								}
							}
						}
					}
				}
			}

			&-box {
				&.carousel-item {
					padding: 0;
					height: 100%;
					width: auto;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: auto;
					.opacity(~'1 !important');
					&.active {
						.card-image {
							padding: 28.125% 0;
							margin: 0;
						}
					}
				}

				.picker {
					&__header {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: auto;
						margin: 50px 0 0;
						@media only screen and (max-width: 601px) {
							margin: 40px 0 0;
						}
						.picker__select--month,
						.picker__year {
							display: none;
							visibility: hidden;
						}
					}

					&__footer,
					&__input {
						display: none;
						visibility: hidden;
					}

					&,
					&__holder,
					&__frame {
						position: relative;
						display: inline-block;
						vertical-align: top;
						width: 100%;
						background: none;
						margin: 0;
						padding: 0;
						overflow: hidden;
						.opacity(~'1 !important');
						.transform(~'none !important');
					}

					&__date-display {
						background: @grey-100;
						color: @blue-800;
						border-top: 1px solid @grey-200;
						border-bottom: 1px solid @grey-200;
						padding: 15px 50px;
					}

					&__year-display {
						color: @primary-color;
					}

					&__box {
						border: none;
						display: block;
						.box-shadow(~'none !important');
						.border-radius(0);
					}

					&__year {
						margin: 0;
					}

					&__day-display,
					&__month-display,
					&__weekday-display {
						font-size: 2rem;
					}

					&__table {
						margin: 0;
					}

					&__weekday {
						&:first-child,
						&:last-child {
							color: @primary-color;
						}
					}

					&__day--infocus {
						padding: 1rem 0;
					}

					&--focused &__day--selected,
					&__day--selected,
					&__day--selected:hover {
						margin: 0 auto;
						padding: 0;
						width: 2.3rem;
						height: 2.3rem;
						line-height: 2.3rem;
						.transform(~'none !important');
					}

					&--focused &__day--disabled,
					&__day--disabled,
					&__day--disabled:hover {
						background: #f5f5f5;
						border-color: #f5f5f5;
						color: #ddd;
						cursor: default;
					}

					&__day {
						position: relative;
						z-index: 1;
						border: none;
						&--disabled.picker__day--selected {
							color: @primary-color;
						}
						&--ranged:not(.picker__day--selected) {
							text-shadow: 3px 3px 0px white, -3px -3px 0px white, 3px -3px 0px white, -3px 3px 0px white;
							&:before {
								content: '';
								position: absolute;
								top: 50%;
								left: 0;
								right: 0;
								bottom: auto;
								margin-top: -3px;
								height: 6px;
								width: auto;
								background: @yellow-400;
								z-index: -1;
							}
						}
					}

					&__nav {
						&--next,
						&--prev {
							top: 0;
							&:hover {
								background: transparent;
							}
						}

						&--disabled {
							display: none;
							visibility: hidden;
						}

						&--prev {
							left: 0;
							padding-left: 1rem;
							&:hover:before {
								border-right-color: @primary-color;
							}
						}

						&--next {
							right: 0;
							padding-right: 1rem;
							&:hover:before {
								border-left-color: @primary-color;
							}
						}
					}
				}
			}

			&-label {
				display: inline-block;
				vertical-align: top;
				width: 100%;
			}
		}
	}
}

/* Account Complete Details Component */
.account-complete-details {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	overflow-y: scroll;
	&__modal {
		max-width: 500px;
		background: white;
		position: absolute;
		top: 0 !important;
		bottom: auto !important;
		margin: 10% auto !important;
		max-height: initial !important;
		.border-radius(6px);
		.picker {
			&__frame {
				top: auto;
				bottom: 0;
				margin: 0 auto;
				width: 80%;
				max-width: 360px;
			}

			&__date-display,
			&__footer {
				display: none;
				visibility: hidden;
			}

			&__box {
				border-bottom: none;
			}
		}
	}
}

/* Account Create Popup Component */
.account-create-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	overflow-y: scroll;
	&__modal {
		max-width: 500px;
		background: white;
		position: absolute;
		top: 0 !important;
		bottom: auto !important;
		margin: 10% auto !important;
		max-height: initial !important;
		.border-radius(6px);
		.picker {
			&__frame {
				top: auto;
				bottom: 0;
				margin: 0 auto;
				width: 80%;
				max-width: 360px;
			}

			&__date-display,
			&__footer {
				display: none;
				visibility: hidden;
			}

			&__box {
				border-bottom: none;
			}
		}
	}

	&__form-choice {
		[type="radio"]:checked+label,
		[type="radio"]:not(:checked)+label {
			padding-top: 142px;
			padding-left: 0;
			padding-right: 0;
		}

		[type="radio"] + label:after,
		[type="radio"] + label:before {
			margin: 4px 0;
			margin-left: -8px;
			left: 50%;
		}

		img {
			position: absolute;
			top: 42px;
			left: 50%;
			margin-left: -42px;
			width: 84px;
			height: 84px;
		}
	}

	&__tabs {
		.tabs {
			visibility: hidden;
			height: 0;
			overflow: hidden;
		}
	}
}

.sales-list {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255, 0.7);
		z-index: 1;
		pointer-events: none;
		.opacity(0);
		.transition(~'all 0.5s ease-out');
	}

	&--loading {
		&:after {
			pointer-events: all;
			.opacity(1);
		}
	}
}

#SalesIndex {
	.card-wrap {
		margin-bottom: 42px;
	}

	.card.horizontal .card-image {
		width: 100%;
		max-width: 42%;
		background-size: cover;
		background-position: center;
	}

	.card .card-image {
		width: 100%;
		max-width: 100%;
		background-size: cover;
		background-position: center;
		min-height: 342px;
	}

	.card.horizontal .card-image img {
		.border-radius(~'2px 0 0 0');
	}
	.card .card-action {
		background: #242424;
		color: #fff;
		border-top-color: #ff8f00;
		border-top-width: 3px;
		overflow: auto;
	}
	.card .card-image .card-title {
		width: 100%;
		background-image: -moz-linear-gradient(bottom, #000000 0%, transparent 100%);
		background-image: -o-linear-gradient(bottom, #000000 0%, transparent 100%);
		background-image: -webkit-linear-gradient(bottom, #000000 0%, transparent 100%);
		background-image: linear-gradient(bottom, #000000 0%, transparent 100%);
	}

	.card .card-content .card-title {
		line-height: 32px;
		margin: 0 0 10px;
	}

	.pagination .active {
		background-color: #ff8f00;
	}

	.time-left {
		text-transform: uppercase;
		&:hover {
			color: #ff8f00;
		}
	}

	.from-price {
		margin-right: 5px;
		font-size: 24px;
	}

	.from-price:hover {
		color: #ff8f00;
	}

	.card .card-label-container {
		position: absolute;
		margin: 10px;
		pointer-events: none;
		cursor: default;
	}

	.card .card-label-container .card-label {
		display: inline-block;
		text-transform: uppercase;
		background-color: black;
		color: white;
		font-weight: 600;
		padding: 5px 10px;
		border-radius: 3px;
	}
}

#SalesView {
	margin-top: 3rem;

	.sale-info .title {
		margin-bottom: 1rem;
		font-weight: 300;
		font-size: 2.28rem;
	}

	.sale-info .location {
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 1rem;
		color: #455a64;
		font-size: 1.64rem;
	}

	.sale-info .flexslider {
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: none;
		.z-depth-1();
		.border-radius(3px);
	}

	.sale-info .flexslider:hover .flex-direction-nav a.flex-prev {
		left: 25px;
	}

	.sale-info .flexslider:hover .flex-direction-nav a.flex-next {
		right: 25px;
	}

	.sale-info .flexslider img {
		.border-radius(3px);
	}

	.sale-info .flexslider .flex-direction-nav a {
		font-size: 0;
		padding: 0;
		width: 44px;
		height: 44px;
		.z-depth-2();
		.border-radius(50px);
	}

	.sale-info .flexslider .flex-direction-nav a:before {
		display: none;
	}

	.sale-info .flexslider .flex-direction-nav a.flex-prev {
		background: url('/assets/dist/img/component/flexslider/ic_keyboard_arrow_left_24px.svg') #ffffff 45% 50% no-repeat;
		background-size: auto 34px;
	}

	.sale-info .flexslider .flex-direction-nav a.flex-next {
		background: url('/assets/dist/img/component/flexslider/ic_keyboard_arrow_right_24px.svg') #ffffff 45% 50% no-repeat;
		background-size: auto 34px;
	}

	.sale-info .flexslider .flex-caption {
		position: absolute;
		top: auto;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		padding: 10px 20px;
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
		font-size: 18px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.sale-info .flexslider .flex-control-nav {
		bottom: 0px;
	}

	.sale-info .sale-booking .book-date label {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin: 0 0 5px;
	}

	.sale-info .sale-booking .book-period b,

	.sale-info .sale-booking .book-price b {
		float: right;
	}

	.sale-info #location_map {
		overflow: hidden;
		.z-depth-1();
		.border-radius(3px);
	}

	.sale-info #offers .offer {
		font-size: 14px;
	}

	.sale-info #offers .offer .card-panel {
		padding: 20px 20px 5px 20px;
		background: #242424;
		color: #fff;
	}

	.sale-info #offers .offer .card-panel.booking-calendar {
		background: #fff;
		color: #242424;
	}

	.sale-info #offers .offer .card-panel.opened {
		background: #242424;
		color: #fff;
		border-left: 3px solid #ff8f00;
	}

	.sale-info #offers .offer h6 {
		font-size: 18px;
	}

	.sale-info #offers .offer .modal-content {
		color: #000;
	}

	.sale-info #offers .offer .divider {
		background-color: #3b3b3b;
	}

	.sale-info #offers .offer .select-wrapper input.select-dropdown {
		border-bottom: 1px solid #3b3b3b;
	}

	.sale-info #offers .offer .price {
		font-size: 21px;
		text-align: right;
		color: #ff8f00;
	}

	.sale-info #offers .offer .price .small {
		font-size: 12px;
		color: #fff;
	}

	.sale-info #offers .offer .input-field label {
		color: #fff;
	}

	.sale-info #offers .offer .selected-offer {
		color: #ff8f00;
	}

	.sale-info #offers .offer .description {
		margin-top: 20px;
	}

	.sale-info #offers .offer ul.actions {
		/*text-align:center;*/
	}

	.sale-info #offers .offer ul.actions li {
		margin: 0 15px 0 0;
	}

	.sale-info #offers .offer ul.actions li button {
		width: 270px;
		text-align: left;
	}

	.sale-info #offers .offer ul.actions li button img {
		height: 22px;
		width: auto;
		vertical-align: middle;
		padding-right: 17px;
	}

	.sale-info #offers .offer ul.actions li a {
		text-transform: uppercase;
	}

	.sale-info #offers .offer ul.actions li button.modal-trigger {
		padding: 0 1rem;
		margin-top: 10px;
	}

	.sale-book span.step-number {
		background: #ff8f00;
		color: #fff;
		width: 40px;
		height: 40px;
		display: block;
		font-size: 20px;
		text-align: center;
		line-height: 40px;
		display:inline-block;
		margin-right: 15px;
		.border-radius(100px);
	}

	.sale-book .sale-image {
		width: 100%;
		height: auto;
	}

	.sale-book .pricing {
		margin-top: 34px;
		font-size: 20px;
	}

	.we-like ul li {
		list-style-type: disc;
		margin-left: 17px;
	}
}

@media only screen and (min-width: 1140px) {
	#SalesView .booking-affix {
		max-width: 320px;
	}

	#SalesView .booking-affix.affix {
		position: fixed;
		top: 20px;
	}

	#SalesView .booking-affix.bottom {
		position: absolute;
		top: auto;
		bottom: 8px;
		left: 8px;
	}
}

#SalesPrint .logo {
	padding: 0 0 10px 0;
}

#SalesPrint .logo .logo-header {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 20px;
	height: 75px;
}

#SalesPrint hr {
	border-top: 1px solid #d0d0d0;
}

#SalesPrint h5 {
	font-size: 1.3rem;
}

#SalesPrint .logo h3 {
	display: inline-block;
	font-size: 2rem;
}

#SalesPrint .logo-header {
	display: flex;
	vertical-align: bottom;
	margin-right: 20px;
}

#footer-main {
	.fb_iframe_widget,
	.fb_iframe_widget span {
		vertical-align: top !important;
	}

	.payment {
		float: right;
		margin: 10px 0 0;
	}

	.ssl {
		float: right;
		font-size: 0;
		margin: 0 0 0 15px;
		#tl_popupCL1 iframe {
			width: 100% !important;
			height: 100% !important;
			overflow: hidden !important;
		}
	}

	.footer-copyright {
		background-color: transparent;
		height: auto;
		.payment {
			max-width: 100%;
		}
	}
}

#offers .description ul li {
	list-style-type: disc;
	margin-left: 17px;
}

#summary-description ul li {
	list-style-type: disc;
	margin-left: 17px;
}

.booking-calendar .no-allocations {
	color: red;
	text-align: center;
}

.fixed-aside h5 {
	margin: auto;
	padding: 5px;
}

.fixed-aside #book-now {
	margin-top: 10px;
}

#main_details .step-one {
	margin-top: 0;
}

.luxury-contact-details {
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.flexslider .slides .hotel-image {
	width: 100%;
	max-width: 100%;
	background-size: cover;
	background-position: center;
	height: 500px;
}

@media only screen and (min-width: 1200px) {
	.custom-columns-row {
		display: flex;
		position: relative;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.custom-columns-row__custom-column {
		padding-right: 15px;
		padding-left: 15px;
	}

	.fixed-aside {
		position: absolute;
		left: 0;
		width: 100%;
		top: 0;
	}

	.card-panel.booking-calendar {
		padding: 10px;
	}

	.isl-calendar-picker ul.calendar-days li span.rate {
		font: 10px / 1.5 'Open Sans', sans-serif !important;
	}

	.custom-columns-row__custom-column.width-60 {
		flex-basis: 65%;
		flex: 1;
	}

	.custom-columns-row__custom-column.width-40 {
		flex-basis: 35%;
		position: relative;
	}

	.custom-columns-row__custom-column.width-40.hidden {
		display: none;
	}
}

@media only screen and (min-width: 1400px) {
	.isl-calendar-picker ul.calendar-days li span.rate {
		font: 11px / 1.5 'Open Sans', sans-serif !important;
	}

	.custom-columns-row__custom-column.width-60 {
		flex-basis: 70%;
	}

	.custom-columns-row__custom-column.width-40 {
		flex-basis: 30%;
		position: relative;
	}
}

@media only screen and (max-width: 1200px) {
	nav a.button-collapse {
		display: block !important;
	}

	.page-subheader .container {
		padding-left: 0;
	}
}

@media only screen and (max-width: 768px) {
	#SalesIndex .card.horizontal {
		flex-direction: column;
	}

	#SalesIndex .card.horizontal .card-image {
		max-width: initial;
		min-height: 210px;
	}

	#SalesView .sale-info #offers .offer ul.actions li button {
		width: 100%;
	}
}
